<div class="topsection">
    <p class="currentloc">{$ postcode $}</p>
    <img class="locationicon_small" src="/static/img/buttons/location.svg"/>
    <img class="edit_small" src="/static/img/buttons/location.svg"/>
</div>
<leaflet center="location" width="100%" height="480px"></leaflet>
