<div class="row centersection">
    <div class="col-md-12 col-sm-12 searchlocation" ng-click="useloc()">
        <img class="locationicon" src="/static/img/buttons/location.svg"/>
        <p class="locationtext " ng-click="useloc()">use my location</p>
    </div>
</div>
<div class="row centersection">
    <div class="col-md-12 col-sm-12 searchinput">
        <input type="text" ng-model="postcode" placeholder="enter my postcode" ng-enter="postcodeenter()" ng-change="postcodechange()">
    </div>
</div>
<div class="row centersection">
    <div class="col-md-12 col-sm-12 searchinput dropdowninput">
        <!--<input type="text" ng-model="distance" placeholder="searchable distance" ng-enter="distancechange()">-->
        <select ng-model="distance" ng-change="distancechange()">
            <option value="" disabled selected>Select your distance</option>
            <option value="5">5 km</option>
            <option value="10">10 km</option>
            <option value="15">15 km</option>
            <option value="20">20 km</option>
            <option value="25">25 km</option>
            <option value="30">30 km</option>
            <option value="40">40 km</option>
            <option value="50">50 km</option>
            <option value="60">60 km</option>
        </select>
    </div>
</div>

<div class="row centersection" ng-show="update">
    <div class="col-md-12 col-sm-12 searchinput">
        <div class="viewbtn {$ class $}">
            <button id='updatebtnwork' class="{$ class $}" ng-click="updatebtn()" >Update</button>
        </div>
    </div>
</div>
