<div class="screensection {$ class $}">
    <div class="row headersection {$ class $}">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <h2 class="sectiontitle noarrow">{$ title $}</h2>
        </div>
        <div class="topline"></div>
        <div class="topsection">
            <!-- tabs here for the -->
            <ul class="tabsection scrolltabhead" style="width:{$ length $}px;">
                <li class="tabtabs minispacer"></li>
                <li class="tabtabs" ng-class="{1:'active'}[item.active]" ng-repeat="item in list track by item.sort_value"><a data-toggle="tab" href="/#/{$ url $}#{$ item.slug $}">{$ item.title $}</a></li>
            </ul>
        </div>
    </div>

    <div class="contentwrapper white {$ class $}">
        <div class="tab-content">
            <div ng-repeat="body in list" id="{$ body.slug $}" class="tab-pane legpannel fade in" ng-class="{1:'active'}[body.active]">
                <div class="innertabsection">
                    <p ng-bind-html="body.body" class="tabtext"></p>
                    <div ng-if="body.has_form">
                        <div class="col-md-12 col-sm-12 mailreg">
                            <input ng-model="name" placeholder="name">
                        </div>
                        <div class="col-md-12 col-sm-12 mailreg">
                            <input ng-model="email" placeholder="email" >
                        </div>
                        <div class="mailregwrap">
                            <button class="mailregbutn" ng-click="submit(name, email)">submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
