<div class="screensection {$ class $}">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <h2 class="sectiontitle noarrow">{$ title $}</h2>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide" ng-repeat="body in list">
                <div id="{$ body.slug $}" data-index="{$ $index $}">
                    <div class="row headersection {$ class $} smallhead">
                        <div class="topline"></div>
                        <div class="topsection">
                            <p class="tabs tableft">{$ body.lastname $}</p>
                            <p class="tabs tabtitle">{$ body.title $}</p>
                            <p class="tabs tabright">{$ body.nextname $}</p>
                        </div>
                    </div>
                    <div class="contentwrapper white {$ class $} swipersectcontext">
                        <div class="innertabsection">
                            <p ng-bind-html="body.body" class="tabtext"></p>
                            <div ng-if="body.has_form">
                                <form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">
                                    <div ng-hide="mailchimp.result === 'success'">
                                        <input class="hidden" type="hidden" ng-model="mailchimp.username">
                                        <input class="hidden" type="hidden" ng-model="mailchimp.dc">
                                        <input class="hidden" type="hidden" ng-model="mailchimp.u">
                                        <input class="hidden" type="hidden" ng-model="mailchimp.id">

                                        <div class="col-md-12 col-sm-12 mailreg">
                                            <input type="text" name="fname" ng-model="mailchimp.FNAME" placeholder="First name">
                                        </div>
                                        <div class="col-md-12 col-sm-12 mailreg">
                                            <input type="text" name="lname" ng-model="mailchimp.LNAME" placeholder="Last name" >
                                        </div>
                                        <div class="col-md-12 col-sm-12 mailreg">
                                            <input type="email" name="email" ng-model="mailchimp.EMAIL" placeholder="Email address" required>
                                        </div>
                                        <div class="mailregwrap">
                                            <button class="mailregbutn" ng-click="addSubscription(mailchimp); submit()">submit</button>
                                        </div>
                                    </div>
                                    <div ng-show="mailchimp.result === 'error'" ng-cloak>
                                        <span ng-bind-html="mailchimp.errorMessage"></span>
                                    </div>

                                    <div ng-show="mailchimp.result === 'success'" ng-cloak>
                                        <span ng-bind-html="mailchimp.successMessage"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    try{
        setTimeout(function(){
            var item = window.location.hash.substr(1);
            item = item.substr(item.indexOf('#') + 1);
            var inde = $('#'+item).attr('data-index');
            var mySwiper = new Swiper('.swiper-container', {
                speed: 400,
                spaceBetween: 0,
                initialSlide:inde
            });
        },200);
    }catch(err){
        setTimeout(function(){
            var mySwiper = new Swiper('.swiper-container', {
                speed: 400,
                spaceBetween: 0
            });
        },200);
    }

</script>
