<div class="row headersection {$ class $} smallhead">
    <div class="topline"></div>
    <div class="topsection">
        <p class="tabs tableft">{$ lastname $}</p>
        <p class="tabs tabtitle">{$ thisname $}</p>
        <p class="tabs tabright">{$ nextname $}</p>
    </div>
</div>

<div class="swipecontentscroll">
    <div class="contentwrapper swipersectcontext sweep">
            <leaflet id="jobmap" ng-show="showMap" center="center" markers="markers" width="100%" height="315px" tiles="tiles" defaults="defaults"></leaflet>

            <div class="bottomcontrols {$ class $}">
                <div class="topsection">
                    <div class="locwrap">
                        <p class="currentloc">current: {$ postcode $} - distance: {$ distance $}km</p>
                    </div>

                    <div class="buttonwrap" id="newctrl" ng-click="updateloc()">
                        <div class="locwrapper" id="newloc">
                            <img class="locationicon_small" src="/static/img/buttons/location.svg" />
                            <img class="edit_small" src="/static/img/buttons/edit.svg"/>
                        </div>
                        <div class="exitwrapper" id="newexit">
                            <img class="edit_small" src="/static/img/buttons/cross.svg"/>
                        </div>
                    </div>
                </div>
                <div class="topline btw"></div>
                <div class="locationedit" id="nw_location">
                    <div class="row">
                        <div class="col-xs-11 col-sm-11 col-md-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 searchsect ">
                            <input type="text" class="doitwork" ng-model="postcode" placeholder="enter my postcode">
                            <!--<input type="text" ng-model="distance" placeholder="searchable distance" ng-enter="distancechange()">-->
                            <select class="doitwork" ng-model="distance" ng-change="distancechange()">
                                <option value="" disabled selected>Select your distance</option>
                                <option value="5">5 km</option>
                                <option value="10">10 km</option>
                                <option value="15">15 km</option>
                                <option value="20">20 km</option>
                                <option value="25">25 km</option>
                                <option value="30">30 km</option>
                                <option value="40">40 km</option>
                                <option value="50">50 km</option>
                                <option value="60">60 km</option>
                            </select>
                        </div>
                    </div>
                    <div class="viewwrapper">
                        <div class="viewbtn backtowork">
                            <button id='updatebtnjobs' class="backtowork" ng-click="updateLoc()">Update</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottomsection">
                <!-- For items in the minds list -->
                <div ng-show="!Jobdoit.length">
                    <div class="voljobwrapper">
                        <div class="itemtitle">
                            <p class="returntitle">No Results Found</p>
                        </div>
                        <div class="itemtext">
                            <p class="returntext">Try updating the location or distance.</p>
                        </div>
                    </div>
                </div>
                <div data-ng-repeat="item in Jobdoit | orderBy:'dist'">
                    <div class="voljobwrapper">
                        <div class="itemtitle">
                            <p class="returntitle" ng-bind-html="item.title"></p>
                        </div>
                        <div class="itemtext">
                            <p class="returntext">
                                <span ng-if="item.name" ng-bind-html="item.name"></span><span ng-if="item.name">,</span>
                                <span ng-if="item.city" ng-bind-html="item.city"></span><span ng-if="item.city">,</span>
                                <span ng-if="item.postcode" ng-bind-html="item.postcode"></span>
                            </p>
                            <p class="datetext"><span ng-if="item.contact_name" >Contact {$ item.contact_name $}</span></p>
                        </div>
                        <div class="viewwrapper">
                            <div class="viewbtn">
                                <a href="{$ item.apply_url $}" target="_blank">view</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    /*
    $(document).ready(function(){
        $('.edit_small').on('click',function(){
            $('#nw_location').slideToggle('slow',function(res){console.log(res);});
            $('#newloc').toggle();
            $('#newexit').toggle();
        });

        $('#updatebtnjobs').on('click',function(){
            $('#nw_location').slideToggle('slow',function(res){console.log(res);});
            $('#newloc').toggle();
            $('#newexit').toggle();
        });
    })
    */
</script>
