<div class="row headersection {$ class $} smallhead">
    <div class="topline"></div>
    <div class="topsection">
        <p class="tabs tableft">{$ lastname $}</p>
        <p class="tabs tabtitle">{$ thisname $}</p>
        <p class="tabs tabright">{$ nextname $}</p>
    </div>
</div>

<div class="swipecontentscroll screensection {$ class $}">
    <div searchsect class="searchwrapper" ng-class="{true: 'up', false:''}[update]"></div>
</div>
