<div class="row headersection {$ class $} smallhead">
    <div class="topline"></div>
    <div class="topsection">
        <p class="tabs tableft">{$ lastname $}</p>
        <p class="tabs tabtitle">{$ thisname $}</p>
        <p class="tabs tabright">{$ nextname $}</p>
    </div>
</div>

<div class="swipecontentscroll">
    <div class="btwsectwrapper swipersectcontext">
        <div ng-if="details == null" class="animate-if">
            <div data-ng-repeat="item in glist">
                <div class="btwwrapper" ng-click="openclick($index)">
                    <div class="itemtitle" >
                        <p class="returntitle">{$ item.title $}</p>
                        <img src="/static/img/buttons/forward_black.svg" class="forwardbtn"/>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="details != null" class="animate-if">
            <div class="mindtopwrap">
                <div class="itemtitle" ng-click="openclick(null)">
                    <img src="/static/img/buttons/back_black.svg" class="backbtn"/>
                    <p class="returntitle">{$ details.title $}</p>
                </div>
            </div>
            <div ng-if="details.body" class="mindwrapper">
                <div class="itemstatementwrap">
                    <p class="itemstatement" ng-bind-html="details.body"></p>
                </div>
            </div>
            <div data-ng-repeat="sub in details.subitem_set">
                <div class="btwwrapper">
                    <a href='backtowork#{$item.slug$}#{$ sub.slug $}' data-toggle="collapse" class="subwrapper">
                        <div class="itemstatementwrap" >
                            <p class="itemstatement" ng-bind-html="sub.title"></p>
                            <i class="expandbtn fade in pos"></i>
                        </div>
                    </a>
                    <div id='{$ sub.slug $}' class="itemstatementwrap itemstatement panel-collapse collapse">
                        <p class="extraptop" ng-bind-html="sub.body"></p>
                    </div>

                </div>
                <script>
                    $('.collapse').on('shown.bs.collapse', function(res){
                        $(res.currentTarget).parent().find("i").removeClass("pos").addClass("neg");
                    }).on('hidden.bs.collapse', function(res){
                        $(res.currentTarget).parent().find("i").removeClass("neg").addClass("pos");
                    });
                </script>
            </div>
        </div>
    </div>
</div>
