{% extends 'desktop_base.html' %}
{% load flatblocks %}

{% block content %}
<div class="faqs-page">

{% include "includes/menu.html" %}

<div class="canvas-wrapper">
    <!-- ******HEADER****** -->
    {% include "includes/header.html" %}

    <article class="faqs article gradient-4">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                    <h2 class="title">Frequently Asked Questions</h2>
                    <p class="intro">{% flatblock 'faq_intro' %}</p>

                    <section class="faqs-section text-center">
                        <div class="faqs-tabbed tabpanel" role="tabpanel">
                            <!-- Tab panes -->
                            <div class="tab-content text-left">
                                <div role="tabpanel" class="tab-pane-1 tab-pane fade in active" id="cat1">

                                    {% for item in faq.all %}
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-parent="#accordion"
                                                                       data-toggle="collapse" class="panel-toggle" href="#faq1-{{ item.id }}"><span class="pe-icon pe-7s-plus"></span>{{ item.question|safe }}</a></h4>
                                        </div>

                                        <div class="panel-collapse  collapse" id="faq1-{{ item.id }}">
                                            <div class="panel-body">
                                                {{ item.answer|safe }}
                                            </div>
                                        </div>
                                    </div><!--//panel-->
                                    {% endfor %}

                                </div>

                            </div>
                        </div>
                    </section>
                    <section class="lead text-center">
                        <h3 class="subtitle">Still need help?</h3>
                        <a class="btn btn-cta btn-cta-primary" href="{% url 'contact' %}">Contact Us</a>
                    </section><!--//lead-->
                </div>
            </div><!--//row-->
        </div><!--//container-->
    </article><!--//article-->

    <!-- ******FOOTER****** -->
    {% include "includes/footer.html" %}
</div><!--//canvas-wrapper-->
</div>


{% endblock %}


