<footer class="footer">
    <div class="container text-center">
        <nav class="links">
            <ul class="list-inline">
                <li><a href="{% url 'desktop' %}">Home</a></li>
                {# <li><a href="{% url 'about' %}">About</a></li> #}
                <li><a href="{% url 'press' %}">Press</a></li>
                <li><a href="{% url 'faq' %}">FAQs</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                {# <li><a href="{% url 'contact' %}">Contact</a></li> #}
            </ul>
        </nav>
        <ul class="social-icons list-inline">
            <li><a href="https://twitter.com/3rdwave_themes"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-instagram"></i></a></li>
            <li class="last"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        {% comment %}
        <ul class="links legal-links list-inline">
            <li><a href="#">Privacy</a></li>
            <li class="last"><a href="#">Terms</a></li>
        </ul><!--//legal-links-->
        {% endcomment %}
        <small class="copyright">Copyright &copy; 2015 Plexus</small>

    </div><!--//container-->
</footer><!--//footer-->