<header id="header" class="header navbar-fixed-top">
    <div class="container">
        <h1 class="logo">
            <a href="{% url 'desktop' %}">Plexus</a>
        </h1><!--//logo-->
        <div class="social-container text-center">
            <ul class="social-icons list-inline">
                <li><a href="https://twitter.com/plexussupportuk"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>

        <div class="navbar-wrapper">
          <span class="navbar-label">MENU</span>
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-recalc="false" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div><!--//navbar -->
    </div><!--//container-->
</header><!--//header-->