<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas text-center" role="navigation">
    <ul class="list-unstyled menu-links">
        <li class="nav-item"><a href="{% url 'desktop' %}">Home</a></li>
       {# <li class="nav-item"><a href="{% url 'about' %}">About</a></li> #}
        <li class="nav-item"><a href="{% url 'press' %}">Press</a></li>
        <li class="nav-item"><a href="{% url 'faq' %}">FAQs</a></li>
        <li class="nav-item"><a href="{% url 'blog' %}">Blog</a></li>
       {# <li class="nav-item"><a href="{% url 'contact' %}">Contact</a></li> #}

        {% comment %}
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Options<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="index.html">iPhone 6 Plus (Gold)</a></li>
                <li><a href="index-iphone-2.html">iPhone 6 Plus (Space Grey)</a></li>
                <li><a href="index-android.html">Android</a></li>
            </ul>
        </li><!--//dropdown-->
        {% endcomment %}
    </ul>
    <ul class="social-icons list-inline">
        <li><a href="https://twitter.com/3rdwave_themes"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    {% comment %}
    <ul class="list-unstyled download-buttons">
        <li class="app-store"><a href="#"><img class="img-responsive" src="assets/images/buttons/btn-app-store.png" alt="Download from App Store" /></a></li>
        <li class="google-play"><a href="#"><img class="img-responsive" src="assets/images/buttons/btn-google-play.png" alt="Download from Google Play" /></a></li>
        <li class="windows-store"><a href="#"><img class="img-responsive" src="assets/images/buttons/btn-windows-store.png" alt="Download from Windows Phone Store" /></a></li>
    </ul><!--//list-unstyled-->
    {% endcomment %}
</nav>