{% extends 'desktop_base.html' %}
{% load flatblocks %}
{% load thumbnail %}
{% block content %}

<div class="blog-home-page">

    {% include "includes/menu.html" %}

<div class="canvas-wrapper">
    <!-- ******HEADER****** -->
    {% include "includes/header.html" %}

    <article id="blog-list" class="blog-list article gradient-7">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">The Blog</h2>

                {% for item in blog %}

                    <section class="item col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1 col-xs-push-0">
                        <div class="item-inner" >
                            <figure class="figure-wrapper text-center">
                                <a href="{% url 'blog_post' item.slug %}"><img class="img-responsive" src="{{ item.list_image.object.file.url }}" alt=""></a>
                            </figure>
                            <div class="content-wrapper">
                                <h3 class="post-title"><a href="{% url 'blog_post' item.slug %}">{{ item.title }}</a></h3>
                                <div class="meta">
                                    <figure class="author-profile">
                                        <img class="img-responsive img-circle" src="{% thumbnail item.arthors.image.object.file "60x60" crop="center" %}" alt="" />
                                    </figure>
                                    <ul class="meta-list list-unstyled">
                                        <li class="post-time post_date date updated">
                                            <i class="fa fa-calendar-o"></i> <span class="hidden-xs" >Published:</span> {{ item.date }}
                                        </li>
                                        <li class="post-author"><i class="fa fa-user"></i> <span class="hidden-xs" >By:</span>  {{ item.arthors.name }}</li>
                                        {% comment %}
                                        <li class="post-comments-link">
                                            <i class="fa fa-comment-o"></i> <span class="hidden-xs" >Comments:</span> <a href="blog-post.html#comment-area">5</a>
                                        </li>
                                        {% endcomment %}

                                    </ul><!--//meta-list-->
                                </div><!--//meta-list-->
                                <div class="content">
                                    <div class="desc">
                                        <p>{{ item.headline }}</p>
                                        <a class="read-more" href="{% url 'blog_post' item.slug %}">Read more <i class="fa fa-long-arrow-right"></i></a>
                                    </div><!--//desc-->
                                </div><!--//content-->
                            </div><!--//content-wrapper-->
                        </div><!--//item-inner-->
                    </section><!--//item-->
                {% endfor %}


            </div><!--//row-->
            <div class="pagination-container text-center">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ contacts.previous_page_number }}">«</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">«</a></li>
                        {% endif %}
                        {% for page in page_obj.num_pages %}
                            {% if page == page_obj.number %}
                                <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li><a href="?page={{ page }}">page</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ contacts.next_page_number }}">«</a></li>
                        {% else %}
                            <li><a href="#">»</a></li>
                        {% endif %}
                    </ul><!--//pagination-->
                {% endif %}
            </div>
        </div><!--//container-->
    </article>

    <!-- ******FOOTER****** -->
    {% include "includes/footer.html" %}
</div><!--//canvas-wrapper-->
    </div>
    {% endblock %}

