<div class="screensection {$ class $}">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <img src="/static/img/buttons/back.svg" class="backbtn" ng-click="doTheBack()"/>
            <h2 class="sectiontitle">{$ title $}</h2>
        </div>
    </div>
    <div class="searchwrapper">
        <div ng-if="error">
            <div class="col-md-12 col-sm-12 signinreg">
                <p class="error">There was a problem with the information you gave us. Please change it and try again.</p>
            </div>
        </div>
        <form action="/user/image/" ng-upload="completed()">
            <div class="col-md-12 col-sm-12 signinreg">
                <input id="id_file" type="file" name="file" ng-upload="uploaded_file = $file">
                <input type="text" name="session" ng-model="session" hidden>
            </div>
            <div class="signinwap">
                <div class="registerbtn">
                    <button upload-submit>submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
