<div class="screensection {$ class $}">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <img src="/static/img/buttons/back.svg" class="backbtn" ng-click="doTheBack()"/>
            <h2 class="sectiontitle">{$ title $}</h2>
        </div>
    </div>
    <div ng-if="error" class="errormessage">
        <div class="col-md-12 col-sm-12 signinreg">
            <p class="error">There was a problem with the information you gave us. Please change it and try again.</p>
        </div>
    </div>
    <div class="searchwrapper details">
        <div class="col-md-12 col-sm-12 signinreg">
            <input type="email" ng-model="email" placeholder="email">
        </div>
        <div class="col-md-12 col-sm-12 signinreg">
            <input type="password" pattern="|" ng-model="password" placeholder="password" >
        </div>
        <div class="signinwap">
            <div class="registerbtn">
                <button ng-click="submit(email, password)">submit</button>
            </div>
        </div>

    </div>
</div>
</div>
