<div class="screensection {$ class $}">
    <div class="row headersection {$ class $}">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <img src="/static/img/buttons/back.svg" class="backbtn" ng-click="doTheBack()"/>
            <h2 class="sectiontitle">{$ title $}</h2>
        </div>
        <div class="topline"></div>
        <div class="topsection">
            <!-- tabs here for the -->
            <ul class="tabsection scrolltabhead" style="width:900px;">
                <li class="tabtabs minispacer"></li>
                <li class="tabtabs active" ><a data-toggle="tab" href="mydetials#profile">Profile</a></li>
                <li class="tabtabs" ><a data-toggle="tab" href="mydetials#Achivements">Achivements</a></li>

            </ul>
        </div>
    </div>

    <div class="contentwrapper white {$ class $}">
        <div class="tab-content">
            <div id="profile" class="tab-pane fade in active">
                <div class="detailwrapper">
                    <div class="imagewrapper" ng-click="gotoImage()">
                        <div class="circular" style="background-image: url({$ data.image $});"></div>
                    </div>
                    <div class="textwrap">
                        <p><strong>name</strong><br><span ng-bind-html="data.name" class="lighttext"></span></p>
                        <p><strong>username</strong><br><span ng-bind-html="data.username" class="lighttext"></span></p>
                        <p><strong>email</strong><br><span ng-bind-html="data.email" class="lighttext"></span></p>
                        <p><strong>phone number</strong><br><span ng-bind-html="data.phone" class="lighttext"></span></p>
                        <p><strong>location</strong><br><span ng-bind-html="data.postcode" class="lighttext"></span></p>
                        <p><strong>gender</strong><br><span ng-bind-html="data.gender" class="lighttext"></span></p>
                        <p><strong>date of birth</strong><br><span ng-bind-html="data.dob" class="lighttext"></span></p>
                        <p><strong>bio</strong><br><span ng-bind-html="data.bio" class="lighttext"></span></p>
                    </div>
                    <div class="buttonsect">
                        <div class="registerbtn">
                            <button ng-click="update()">edit</button>
                        </div>
                        <div class="registerbtn">
                            <button ng-click="logout()">logout</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Achivements" class="tab-pane fade in" >
                <div class="detailwrapper">
                    <div class="imagegroupwrapper" ng-repeat="item in data.archeivements">
                        <div class="smallcircular" style="background-image: url({$ item.image $});"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
