<div class="screensection {$ class $}">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <img src="/static/img/buttons/back.svg" class="backbtn" ng-click="doTheBack()"/>
            <h2 class="sectiontitle">{$ title $}</h2>
        </div>
    </div>
    <div class="contentwrapper">
        <div ng-if="error">
            <div class="col-md-12 col-sm-12 signinreg">
                <p class="error">There was a problem with the information you gave us. Please change it and try again.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 signinreg">
                <input ng-model="data.email" placeholder="email">
            </div>
            <div class="col-md-12 col-sm-12 signinreg">
                <input ng-model="data.username" placeholder="username">
            </div>
            <div class="col-md-12 col-sm-12 signinreg">
                <input ng-model="data.password1" placeholder="password" >
            </div>
            <div class="col-md-12 col-sm-12 signinreg">
                <input ng-model="data.password2" placeholder="retype password" >
            </div>
            <div class="signinwap">
                <div class="registerbtn">
                    <button ng-click="submit(data)">submit</button>
                </div>

               <!-- <button class="signinbutton" ng-click="submit(data)">submit</button>-->
            </div>

        </div>
    </div>
</div>
