

<div class="screensection {$ class $}" ng-init="previous()">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <h2 class="sectiontitle noarrow">{$ title $}</h2>
        </div>
    </div>
    <div class="searchwrapper details">
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchinput">
                <google-plus-signin clientid="74687990276-s7gfq2nka834uj46vh73l9rhbtujik0c.apps.googleusercontent.com">
            </div>
        </div>
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchinput facebookbtn" ng-click="facebook()">
                <div class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i>
                    Sign in with Facebook
                </div>
            </div>
        </div>
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchinput">
                <button class="createprof" ng-click="login()">sign in to your profile</button>
            </div>
        </div>
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchinput">
                <button class="createprof" ng-click="createprof()">create your profile</button>
            </div>
        </div>
        <div class="row centersection" ng-show="start == true">
            <div class="col-md-12 col-sm-12 searchinput">
                <button class="createprof" ng-click="tomain()">continue without login in</button>
            </div>
        </div>
    </div>

</div>



