<div>
    <div class="screensection {$ class $}">
        <div class="row headersection">
            <div class="menu">
                <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
            </div>
            <div class="title">
                <h2 class="sectiontitle noarrow">{$ title $}</h2>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div id="mydetails" data-index="0" class="swipedetails">
                        <div class="row headersection {$ class $} smallhead">
                            <div class="topline"></div>
                            <div class="topsection">
                                <p class="tabs tableft"></p>
                                <p class="tabs tabtitle">Profile</p>
                                <p class="tabs tabright">Achievements</p>
                            </div>
                        </div>
                        <div class="contentwrapper white swiperdetails">
                            <div class="detailwrapper sweep">
                                <div class="imagewrapper" ng-click="gotoImage()">
                                    <div class="circular" style="background-image: url({$ data.image $});"></div>
                                </div>
                                <div class="textwrap">
                                    <p><strong>name</strong><br><span ng-bind-html="data.name" class="lighttext"></span></p>
                                    <p><strong>username</strong><br><span ng-bind-html="data.username" class="lighttext"></span></p>
                                    <p><strong>email</strong><br><span ng-bind-html="data.email" class="lighttext"></span></p>
                                    <p><strong>phone number</strong><br><span ng-bind-html="data.phone" class="lighttext"></span></p>
                                    <p><strong>location</strong><br><span ng-bind-html="data.postcode" class="lighttext"></span></p>
                                    <p><strong>gender</strong><br><span ng-bind-html="data.gender" class="lighttext"></span></p>
                                    <p><strong>date of birth</strong><br><span ng-bind-html="data.dob" class="lighttext"></span></p>
                                    <p><strong>bio</strong><br><span ng-bind-html="data.bio" class="lighttext"></span></p>
                                </div>
                                <div class="buttonsect">
                                    <div class="registerbtn">
                                        <button ng-click="update()">edit</button>
                                    </div>
                                    <div class="registerbtn">
                                        <button ng-click="logout()">logout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div id="achievement" data-index="1" class="swipedetails">
                        <div class="row headersection {$ class $} smallhead">
                            <div class="topline"></div>
                            <div class="topsection">
                                <p class="tabs tableft">Profile</p>
                                <p class="tabs tabtitle">Achievements</p>
                                <p class="tabs tabright"></p>
                            </div>
                        </div>
                        <div class="contentwrapper white swiperdetails">
                            <div class="detailwrapper sweep">
                                <div class="textwrap" ng-show="getflat().length > 2">
                                    <p ng-bind-html="getflat()"></p>
                                </div>
                                <div class="imagegroupwrapper" ng-repeat="item in data.archeivements">
                                    <div class="smallcircular" style="background-image: url({$ item.image $});"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            try{

                var item = window.location.hash.substr(1);
                item = item.substr(item.indexOf('#') + 1);
                var inde = $('#'+item).attr('data-index');
                var detailswip = new Swiper('.swiper-container', {
                    speed: 400,
                    spaceBetween: 0,
                    initialSlide:inde
                });

            }catch(err){
                var detailswip = new Swiper('.swiper-container', {
                    speed: 400,
                    spaceBetween: 0
                });

            }
        });

    </script>
</div>
