<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=1795428174017119";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="screensection {$ class $}">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <img src="/static/img/buttons/back.svg" class="backbtn" ng-click="doTheBack()"/>
            <h2 class="sectiontitle">{$ title $}</h2>
        </div>
    </div>
    <div class="contentwrapper">
        <div class="row centersection small">
            <div class="col-md-12 col-sm-12 searchinput">
                <input type="text" ng-model="data.firstname" placeholder="firstname">
            </div>
        </div>
        <div class="row centersection small">
            <div class="col-md-12 col-sm-12 searchinput">
                <input type="text" ng-model="data.surname" placeholder="surname">
            </div>
        </div>
        <div class="row centersection small">
            <div class="col-md-12 col-sm-12 searchinput">
                <input type="tel" ng-model="data.phone" placeholder="phone number">
            </div>
        </div>
        <div class="row centersection small">
            <div class="col-md-12 col-sm-12 searchinput">
                <input type="text" ng-model="data.postcode" placeholder="post code">
            </div>
        </div>
        <div class="row centersection small">
            <div class="col-md-12 col-sm-12 searchinput">
                <input type="text" ng-model="data.dob" placeholder="date of birth">
            </div>
        </div>
        <div class="row centersection small">
            <div class="col-md-12 col-sm-12 searchinput">
                <input type="text" ng-model="data.bio" placeholder="bio">
            </div>
        </div>
        <div class="registerbtn">
            <button ng-click="submit(data)">update</button>
        </div>

    </div>
</div>
</div>
