<div class="screensection {$ class $}" ng-init="start()">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <h2 class="sectiontitle noarrow">{$ title $}</h2>
        </div>
    </div>
    <div searchsect class="searchwrapper" ng-class="{true: 'up', false:''}[update]"></div>
</div>
