<div class="screensection {$ class $}">
    <div class="row headersection {$ class $}">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <h2 class="sectiontitle noarrow">{$ title $}</h2>
        </div>
    </div>

    <div class="contentwrapper">
        <leaflet id="searchres" center="center" markers="markers" tiles="tiles" width="100%" height="315px"></leaflet>

        <div class="bottomcontrols">
            <div class="topsection">
                <div class="locwrap">
                    <p class="currentloc">current: {$ postcode $} - distance: {$ distance $}km </p>
                </div>

                <div class="buttonwrap">
                    <div class="locwrapper" id="newloc" ng-click="updateloc()">
                        <img class="locationicon_small" src="/static/img/buttons/location.svg" />
                        <img class="edit_small" src="/static/img/buttons/edit.svg"/>
                    </div>
                    <div class="exitwrapper" id="newexit">
                        <img class="edit_small" src="/static/img/buttons/cross.svg"/>
                    </div>
                </div>
            </div>
            <div class="topline"></div>
            <div class="locationedit">
                <div class="row">
                    <div class="col-xs-11 col-sm-11 col-md-11 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 searchsect ">
                        <input type="text" ng-model="postcode" placeholder="enter my postcode" ng-enter="postcodechange()">
                        <!--<input type="text" ng-model="distance" placeholder="searchable distance" ng-enter="distancechange()">-->
                        <select ng-model="distance" ng-change="distancechange()">
                            <option value="" disabled selected>Select your distance</option>
                            <option value="5">5 km</option>
                            <option value="10">10 km</option>
                            <option value="15">15 km</option>
                            <option value="20">20 km</option>
                            <option value="25">25 km</option>
                            <option value="30">30 km</option>
                            <option value="40">40 km</option>
                            <option value="50">50 km</option>
                            <option value="60">60 km</option>
                        </select>
                    </div>
                </div>
                <div class="viewwrapper ">
                    <div class="viewbtn support">
                        <button id='updatebtn' class="support" ng-click="updateLoc()">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottomsection">

                <ul class="tabsection nav nav-tabs">
                    <li class="tabtabs tableft" ng-class="{true:'active',false:''}[currenttab == 'mind' ]"><a class="tabtext" ng-click="openItem($index, 'None'); curtab('mind')">Mind</a></li>
                    <li class="tabtabs tabcenter"><p class="tabtext">/</p></li>
                    <li class="tabtabs tabright" ng-class="{false:'',true:'active'}[currenttab == 'nhs']"><a class="tabtext" ng-click="openItem($index, 'None'); curtab('nhs')">NHS</a></li>
                </ul>
                <div class="tab-content">
                    <div ng-if="details == null">
                        <div id="mind" class="mindnhs mindlist tab-pane fade in" ng-class="{true:'active',false:''}[currenttab == 'mind' ]">
                            <!-- For items in the minds list -->
                            <div ng-show="!mind.length">
                                <div ng-show="filter" class="mindfilter" ng-click="filterGo()">
                                    <p>Filter results by services offered</p>
                                </div>
                                <div class="mindwrapper">
                                    <div class="itemtitle">
                                        <p class="returntitle">No Results Found</p>
                                    </div>
                                    <div class="itemaddress">
                                        <p class="address">Try updating the location or distance.</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="mind.length" class="mindfilter" ng-click="filterGo()">
                                <p>Filter results by services offered</p>
                            </div>
                            <div data-ng-repeat="item in mind |unique:'id' | orderBy:'dist' ">
                                <div class="mindwrapper">
                                    <div class="itemtitle" ng-click="openItem($index, 'mind')">
                                        <p class="returntitle">{$ item.name $}</p>
                                        <img src="/static/img/buttons/forward_black.svg" class="forwardbtn">
                                    </div>
                                    <div class="itemaddress">
                                        <p class="address" ng-bind-html="item.address|commabreak | to_trusted"><br>{$ item.postcode $}</p>
                                        <p class="openhours" ng-bind-html="item.hours|commabreak"></p>
                                    </div>
                                    <div class="buttonwrapper">
                                        <a ng-class="{true: '', false:'non'}[item.telephone.length > 1]" href="tel:{$ item.telephone $}" target="_blank">phone</a>
                                        <a ng-class="{true: '', false:'non'}[item.email.length > 1]" href="mailto:{$ item.email $}" target="_blank">email</a>
                                        <a ng-class="{true: '', false:'non'}[item.website.length > 1]" href="{$ item.website $}" target="_blank">website</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="nhs" class="mindnhs nhslist tab-pane fade in" ng-class="{false:'',true:'active'}[currenttab == 'nhs']">
                            <div ng-show="!nhs.length">
                                <div class="mindwrapper">
                                    <div class="itemtitle">
                                        <p class="returntitle">No Results Found</p>
                                    </div>
                                    <div class="itemaddress">
                                        <p class="address">Try updating the location or distance.</p>
                                    </div>
                                </div>
                            </div>
                            <div data-ng-repeat="item in nhs | orderBy:'dist'">
                                <div class="mindwrapper">
                                    <div class="itemtitle" ng-click="openItem($index, 'nhs')">
                                        <p class="returntitle">{$ item.name $}</p>
                                        <img src="/static/img/buttons/forward_black.svg" class="forwardbtn">
                                        <div class="itemaddress">
                                            <p class="address" ng-bind-html="item.address_one|commabreak" ng-if="item.address_one.length > 2"><br>{$ item.city $}</p>
                                            <p class="openhours" ng-bind-html="item.postcode"></p>
                                        </div>
                                    </div>
                                    <div class="buttonwrapper">
                                        <a ng-class="{true: '', false:'non'}[item.telephone.length > 1]" href="tel:{$ item.telephone $}" target="_blank">phone</a>
                                        <a ng-class="{true: '', false:'non'}[item.email.length > 1]" href="mailto:{$ item.email $}" target="_blank">email</a>
                                        <a ng-class="{true: '', false:'non'}[item.website.length > 1]" href="{$ item.website $}" target="_blank">website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="details != null" class="mindnhsdetails">
                        <div ng-if="detailtype == 'mind'">
                            <div class="mindtopwrap">
                                <div class="itemtitle" ng-click="openItem($index, 'None')">
                                    <img src="/static/img/buttons/back_black.svg" class="backbtn"/>
                                    <p class="returntitle">{$ details.name $}</p>
                                </div>
                            </div>
                            <div class="mindwrapper">
                                <div class="buttonwrapper">
                                    <a ng-class="{true: '', false:'non'}[details.telephone.length > 1]" href="tel:{$ details.telephone $}" target="_blank">phone</a>
                                    <a ng-class="{true: '', false:'non'}[details.email.length > 1]" href="mailto:{$ details.email $}" target="_blank">email</a>
                                    <a ng-class="{true: '', false:'non'}[details.website.length > 1]" href="{$ details.website $}" target="_blank">website</a>
                                </div>
                                <div class="itemaddress">
                                    <p class="address" ng-bind-html="details.address|commabreak"><br>{$ details.postcode $}</p>
                                    <p class="openhours" ng-bind-html="details.hours|commabreak"></p>
                                </div>
                                <div class="itemstatementwrap">
                                    <p class="itemstatement" ng-bind-html="details.statement"></p>
                                    <br ng-show="details.areas_of_operation.length > 0">
                                    <p class="itemstatement smallgap" ng-show="details.areas_of_operation.length > 0"><strong>Area of Operation</strong></p>
                                    <p class="itemstatement-service" ng-show="details.areas_of_operation.length > 0" data-ng-repeat="ser in details.areas_of_operation">{$ ser[0] $}</p>
                                    <br ng-show="details.services.length > 0">
                                    <p class="itemstatement smallgap" ng-show="details.services.length > 0"><strong>Services</strong></p>
                                    <p class="itemstatement-service" ng-show="details.services.length > 0" data-ng-repeat="ser in details.services">{$ ser[0] $}</p>
                                    <br ng-show="details.area_of_benefit.length > 0">
                                    <p class="itemstatement smallgap" ng-show="details.area_of_benefit.length > 0"><strong>Area of Benefit</strong></p>
                                    <p class="itemstatement" ng-show="details.area_of_benefit.length > 0" ng-bind-html="details.area_of_benefit"></p>
                                </div>

                            </div>
                        </div>
                        <div ng-if="detailtype == 'nhs'">
                            <div class="mindtopwrap">
                                <div class="itemtitle" ng-click="openItem($index, 'None')">
                                    <img src="/static/img/buttons/back_black.svg" class="backbtn"/>
                                    <p class="returntitle">{$ details.name $}</p>
                                </div>
                            </div>
                            <div class="mindwrapper">
                                <div class="buttonwrapper">
                                    <a ng-class="{true: '', false:'non'}[details.telephone.length > 1]" href="tel:{$ details.telephone $}" target="_blank">phone</a>
                                    <a ng-class="{true: '', false:'non'}[details.email.length > 1]" href="mailto:{$ details.email $}" target="_blank">email</a>
                                    <a ng-class="{true: '', false:'non'}[details.website.length > 1]" href="{$ details.website $}" target="_blank">website</a>
                                </div>
                                <div class="itemaddress">
                                    <div class="address" >
                                        <p ng-bind-html="details.address_one" ng-if="details.address_one.length > 2"></p>
                                        <p ng-bind-html="details.address_two" ng-if="details.address_two.length > 2"></p>
                                        <p ng-bind-html="details.address_three" ng-if="details.address_three.length > 2"></p>
                                        <p ng-bind-html="details.address_four" ng-if="details.address_four.length > 2"></p>
                                        <p ng-bind-html="details.address_five" ng-if="details.address_five.length > 2"></p>
                                        <p ng-bind-html="details.postcode" ng-if="details.postcode.length > 2"></br></p>
                                    </div>
                                </div>
                                <div class="itemstatementwrap">
                                    <p>This facility is part of the <strong ng-bicnd-html="details.trust.name"></strong>.</p>
                                    <p>Located of the center is in <span ng-bind-html="details.trust.contacts.address_four"></span> with the postcode being <strong ng-bind-html="details.trust.contacts.postcode"></strong></p>
                                </div>

                                <div class="itemstatementwrap">
                                    <div ng-show="details.service.length > 0">
                                        <p class="itemstatement smallgap" ><strong>Services Information</strong></p>
                                        <div class="smallbtm" ng-show="details.service.length > 0" data-ng-repeat="serv in details.service" ng-class="{even: $even, odd: $odd}">
                                            <p> {$ serv.provider $}</p>
                                        </div>
                                    </div>

                                    <p class="itemstatement smallgap" ng-show="details.metrics.length > 0"><strong>Statistics of this facility</strong></p>

                                    <div class="smallbtm" ng-show="details.metrics.length > 0" data-ng-repeat="ser in details.metrics" ng-class="{even: $even, odd: $odd}">
                                        <div class="leftbox">
                                            <div ng-switch on="ser.type">
                                                <div ng-switch-when="rate">
                                                    <div class="rating outstanding" ng-if="ser.value == 1"></div>
                                                    <div class="rating good" ng-if="ser.value == 2"></div>
                                                    <div class="rating improvement" ng-if="ser.value == 3"></div>
                                                    <div class="rating inadequate" ng-if="ser.value == 4"></div>
                                                    <div class="rating not" ng-if="ser.value == 5"></div>
                                                </div>
                                                <div ng-switch-when="price">
                                                    <p class="{$ ser.text.length >= 5 $}">£{$ ser.text $}</p>
                                                </div>
                                                <div ng-switch-default>
                                                    <p ng-if="ser.value != 0">{$ ser.value $}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rightbox">
                                            <p><em>{$ ser.metric $}</em></p>
                                            <p ng-if="ser.text != 0">{$ ser.text $}</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

            </div>
        </div>
    </div>
</div>

