<div class="screensection {$ class $}" ng-init="start()">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <div style="cursor:pointer" ng-click="goBack()"><img src="/static/img/buttons/back.svg" class="backbtn"></div>
            <h2 class="sectiontitle up">{$ title $}</h2>
        </div>
    </div>
    <div class="searchwrapper up">
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchinput">
                <p class="locationtex_servicet ">Please choose from the services list of services types below</p>
                    <p ng-repeat="check in checklist" class="locationoptions" ng-click='addid(check.id, $event)' data_id="{$ check.id $}" ng-class="{true: 'active', false:''}[servicesel.indexOf(check.id) > -1]">{$ check.title $}</p>
            </div>
        </div>


        <div class="row centersection" >
            <div class="col-md-12 col-sm-12 searchinput">
                <div class="viewbtn {$ class $}">
                    <button id='updatebtnwork' class="{$ class $}" ng-click="updatebtn()">confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
