{% load static from staticfiles %}

<html ng-app="rework">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="theme-color" content="#e3007e"/>

    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="author" content="content: M/A, website: M/A ma-work.co.uk" />
    <meta name="copyright" content="website (c) Copyright M/A" />

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta property="og:title" content="Plexus Support">
    <meta property="og:type" content="website">
    <meta property="og:url" content="www.plexus.support">
    <meta property="og:image" content="{% static 'icons/android/playstore-icon.png' %}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:description" content="Website to support ">
    <meta name="theme-color" content="#174787"/>

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="36x36" href="{% static 'icons/android/drawable-ldpi/ic_launcher.png' %}">
    <link rel="icon" sizes="48x48" href="{% static 'icons/android/drawable-mdpi/ic_launcher.png' %}">
    <link rel="icon" sizes="72x72" href="{% static 'icons/android/drawable-hdpi/ic_launcher.png' %}">
    <link rel="icon" sizes="96x96" href="{% static 'icons/android/drawable-xhdpi/ic_launcher.png' %}">
    <link rel="icon" sizes="144x144" href="{% static 'icons/android/drawable-xxhdpi/ic_launcher.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'icons/android/drawable-xxxhdpi/ic_launcher.png' %}">

    <link rel="shortcut icon" href="{% static 'icons/ios/Icon-72@2x.png' %}">
    <link rel="icon" sizes="228x228" href="{% static 'icons/ios/Icon-72@2x.png' %}">
    <link rel="apple-touch-icon" href="{% static 'icons/ios/Icon-72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/ios/Icon-72.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/ios/Icon@2x.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/ios/Icon-72@2x.png' %}">

    <title>plexus</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">

    <link rel="manifest" href="manifest.json">

    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" href="{% static 'libs/bootstrap-socal/bootstrap-social.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'libs/swiper/dist/css/swiper.min.css' %}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,700,500,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" >

    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

    <script src="{% static 'libs/angular/angular.min.js' %}"></script>


</head>
<body>
<ui-view></ui-view>

<script src="{% static 'libs/angular-mocks/angular-mocks.js' %}"></script>
<script src="{% static 'libs/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'libs/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'libs/angularjs-geolocation/dist/angularjs-geolocation.min.js' %}"></script>
<script src="{% static 'libs/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'libs/angular-sanitize/angular-sanitize.min.js' %} "></script>
<script src="{% static 'libs/angular-cookies/angular-cookies.min.js' %} "></script>
<script src="{% static 'libs/angular-resource/angular-resource.min.js' %} "></script>
<script src="{% static 'js/angular-leaflet-directive.js' %}"></script>
<script src="{% static 'libs/angular-facebook/lib/angular-facebook.js' %}"></script>
<script src="{% static 'libs/angular-directive.g-sign/google-plus-signin.js' %}"></script>
<script src="{% static 'libs/ngUpload/ng-upload.min.js' %}"></script>
<script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
<script src="{% static 'libs/swiper/dist/js/swiper.jquery.min.js' %}"></script>
<script src="{% static 'libs/rainbow/rainbowvis.js' %}"></script>
<script src="{% static 'libs/angular-mailchimp/angular-mailchimp.js' %}"></script>
<script src="{% static 'libs/angulartics/dist/angulartics.min.js' %}"></script>
<script src="{% static 'libs/angulartics-google-analytics/dist/angulartics-ga.min.js' %}"></script>
<script src="{% static 'libs/flip/dist/jquery.flip.min.js' %}"></script>


<!--App -->
<!--<script src="{% static 'angular/app.js' %}"></script>-->
<!--<script src="{% static 'angular/directives.js' %}"></script>-->

<!-- Controller -->
<!--<script src="{% static 'angular/controller.js' %}"></script>-->

<!-- service -->
<!--<script src="{% static 'angular/service.js' %}"></script>-->

<script src="{% static 'angular/plexus.ann.js' %}"></script>

<script src="https://use.typekit.net/anu3nqc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){console.log(e);}</script>



<script>// <![CDATA[
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/client:plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
// ]]></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75011142-1', 'auto');
    ga('send', 'pageview');

</script>

<script>
    document.onready = function(){
        window.location=/#/;
        maxconnum = 100;
        rainbow = new Rainbow();
        rainbow.setSpectrum('#e3007e','#682382','#2f2e87','#1e6bb3','#85b821','#0b6d32','#f19000','#be1821');
        rainbow.setNumberRange(1,maxconnum);
        conum = 1;
        direction=1;
        aniamatecolor();

    };

    function aniamatecolor(){
        if(direction){
            if(conum < maxconnum){
                conum = conum +1;
            }else{
                direction = 0;
                conum = conum -1;
            }
        }else{
            if(conum < 1){
                direction = 1;
                conum = conum + 1;
            }else{
                conum = conum -1;
            }
        }
        setTimeout(function(){
            $('meta[name=theme-color]').attr('content','#'+rainbow.colourAt(conum));
            aniamatecolor();
        },2000);
    }

</script>

</body>
</html>
