
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Plexus support - helping you manage work</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->

    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/pe-icon-7-stroke/css/helper.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/fullPage.js/jquery.fullPage.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}assets/plugins/rrssb/css/rrssb.css" />
    <link id="theme-style" rel="stylesheet" href="{{ STATIC_URL }}assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block content %}
{% endblock %}

<!-- Main Javascript -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/main.js"></script>

<!-- Fullpage.js -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/fullPage.js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/fullpage-custom.js"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/owl-custom.js"></script>


<!-- Form Validation -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/form-validation-custom.js"></script>

<!-- Form iOS fix -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/isMobile/isMobile.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/form-mobile-fix.js"></script>

<!-- Vimeo video -->
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/vimeo.js"></script>

<!-- FAQs panels -->
<script type="text/javascript" src="{{ STATIC_URL }}assets/js/faqs-custom.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75011142-1', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>