<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Plexus - making work open to all.</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,900,800,700,200,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->

    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/pe-icon-7-stroke/css/helper.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}new_assets/plugins/fullPage.js/jquery.fullPage.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ STATIC_URL }}new_assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="homepage">


<div class="canvas-wrapper">
    <!-- ******HEADER****** -->
    <header id="header" class="header navbar-fixed-top">
        <div class="container">
            <h1 class="logo">
                <a href="index.html"><img id='plexuslogo' src="{{ STATIC_URL }}new_assets/images/devices/logo.png"></a>
            </h1><!--//logo-->
            <div class="social-container text-center">

            </div>

            <div class="navbar-wrapper hidden-xs">

                <ul class="social-icons list-inline">
                    <li><a href="mailto:info@plexus.support" class="colortext">info@plexus.support</a> <br/><a href="#" class="colortext">call: 020 8968 4640</a></li>
                </ul>
            </div>

        </div><!--//container-->
    </header><!--//header-->

    <div id="fullpage" class="sections-wrapper">

        <!-- ******Promo Section****** -->
        <section id="home" class="promo section gradient-5">
            <div class="container">
                <div class="row">
                    <div class="intro-area col-md-4 col-sm-12 col-xs-12">
                        <h2 class="title">Digital tools empowering workplace wellbeing.</h2>
                        <p class="intro">Inspired by personal experiences and founded on clinically validated research.<br/><strong><a href="#benefit1"> Learn more below</a></strong></p>

                    </div><!--//intro-area-->

                    <div class="device device-iphone text-center col-md-4 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0 visible-xs-block mobileimages_spaceing">
                        <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                            <div class="device-holder-inner">
                                <div id="home-slideshow" class="owl-carousel owl-theme">
                                    <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-1.2.jpg" alt=""></div>
                                    <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-8.jpg" alt=""></div>
                                    <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/new-graph.png" alt=""></div>
                                </div><!--//slideshow-->
                            </div><!--//device-holder-inner-->
                        </div><!--//device-holder-->
                    </div><!--//phone-holder-->

                    <div class="download-area col-md-4 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0 ">

                        <ul class="list-unstyled summary">
                            <li><i class="fa fa-chevron-circle-right"></i> <a href="#home">Consider your day</a></li>
                            <li><i class="fa fa-chevron-circle-right"></i> <a href="#grace">Review your thoughts</a></li>
                            <li><i class="fa fa-chevron-circle-right"></i> <a href="#learning">Gather learning & support</a></li>

                        </ul><!--//list-unstyled-->
                        <form action="//ma-work.us2.list-manage.com/subscribe/post?u=1942b6bbcbfd553cd7714a3f4&amp;id=63c0e6b760" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate contact-form form" target="_blank" novalidate>
                            <div class="contact-form-inner">
                                <h2 class="title forty-top">Join here to learn more</h2>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label class="sr-only" for="cemail">Email address</label>
                                        <input type="email" class="form-control" id="cemail" name="EMAIL" placeholder="Email address" required>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label class="sr-only" for="cname-first">First Name</label>
                                        <input type="text" class="form-control" id="cname-first" name="FNAME" placeholder="First name" minlength="2" required>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <label class="sr-only" for="cname-last">Last Name</label>
                                        <input type="text" class="form-control" id="cname-last" name="LNAME" placeholder="Last name" minlength="2" required>
                                    </div>
                                    <!--  <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                          <label class="sr-only" for="cnumber">Contact number</label>
                                          <input type="tel" class="form-control" id="cnumber" name="number" placeholder="Phone number" minlength="2" required>
                                      </div> -->
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                        <button type="submit" class="btn btn-block btn-cta btn-cta-primary addbutton" name="subscribe">Add me</button>
                                    </div>
                                </div><!--//row-->
                            </div>
                            <div id="form-messages">

                            </div>
                        </form><!--//contact-form-->
                        <div class="post-form forty-top">
                            <p class="intro">
                                Thank you for signing up to Grace. We'll be in touch shortly. In the mean time if you have any questions please feel free to <a href="mailto:info@plexus.support">email us</a>
                            </p>
                        </div>
                    </div><!--//download-area-->
                    <div class="clearfix visible-xs-block"></div>
                    <div class="device device-iphone text-center col-md-4 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0 xs-hidden hiddenxs">
                        <div class="device-holder iphone-holder iphone-gold-holder offset-top xs-hidden">
                            <div class="device-holder-inner">
                                <div id="home-mobile-slideshow" class="owl-carousel owl-theme">
                                    <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-1.2.jpg" alt=""></div>
                                    <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-8.jpg" alt=""></div>
                                    <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/new-graph.png" alt=""></div>
                                </div><!--//slideshow-->
                            </div><!--//device-holder-inner-->
                        </div><!--//device-holder-->
                    </div><!--//phone-holder-->
                    <div class="container text-center">
                        <h4 class="title">Supported by</h4>
                        <div class="row">
                            <ul class="list-unstyled press-list">
                                <li class="col-md-2 col-sm-4 col-xs-6"><a href="https://bethnalgreenventures.com/" target="_blank"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/press/logo-1.png" alt=""></a></li>
                                <li class="col-md-2 col-sm-4 col-xs-6"><a href="https://theodi.org/" target="_blank"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/press/logo-2.png" alt=""></a></li>
                                <li class="col-md-2 col-sm-4 col-xs-6"><a href="https://madebyma.com/" target="_blank"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/press/logo-3.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--//press-inner-->
                <div class="clearfix"></div>
                <div class="arrow-holder text-center">
                    <p class="lead-text"><a href="#benefit1">Learn more</a></p>
                    <a href="#grace" class="animate pe-7s-bottom-arrow pe-3x"></a>
                </div><!--//arrow-holder-->
            </div><!--//row-->

        </section><!--//promo-->

        <!-- ******Benefit-2 Section****** -->
        <section id="grace" class="benefit-1 section">
            <div class="section-inner">
                <div class="container text-center">
                    <div class="row">
                        <div class="content col-md-7 col-sm-6 col-xs-12 col-md-push-4 col-sm-push-6 col-xs-push-0">
                            <div class="content-inner">
                                <span class="pe-icon pe-7s-chat pe-4x"></span>
                                <h2 class="title text-center">Grace SMS</h2>
                                <div class="device device-iphone col-md-4 col-sm-6 col-xs-12 col-md-pull-7 col-sm-pull-6 col-xs-pull-0 visible-xs-block mobileimages_spaceing">
                                    <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                                        <div class="device-holder-inner">
                                            <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-1.2.jpg" alt=""></div>
                                        </div><!--//device-holder-inner-->
                                    </div><!--//device-holder-->
                                </div><!--//phone-holder-->
                                <p class="intro text-center">Grace sends daily messages giving you 5 minutes to contempate and think over your day. Review and investigate your responses via weekely emails and online dashboard.</p>
                                <p class="intro text-center">Currently Grace is only available UK users. Future versions will also be available via Facebook Messenger and Slack.</p>
                            </div><!--//content-inner-->
                            <a class="play-trigger joinlink" href="#modal-video" data-toggle="modal" data-target="#modal-video" data-backdrop="static" data-keyboard="false"><button type="submit" class="btn btn-block btn-cta btn-cta-primary addbutton joinbtn">Join up if you'd like to try Grace.</button></a>

                        </div><!--//content-->
                        <div class="device device-iphone col-md-4 col-sm-6 col-xs-12 col-md-pull-7 col-sm-pull-6 col-xs-pull-0 xs-hidden hiddenxs">
                            <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                                <div class="device-holder-inner">

                                    <div class="item"><img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-1.2.jpg" alt=""></div>


                                </div><!--//device-holder-inner-->
                            </div><!--//device-holder-->
                        </div><!--//phone-holder-->
                    </div><!--//row-->
                </div><!--//container-->
            </div><!--//section-inner-->
        </section><!--//benefit-2-->


        <!-- ******Benefit-1 Section****** -->
        <section id="learning" class="benefit-1 section gradient">
            <div class="section-inner">
                <div class="container text-center">
                    <div class="row">
                        <div class="content col-md-7 col-sm-6 col-xs-12">
                            <div class="content-inner">
                                <span class="pe-icon pe-7s-study pe-4x"></span>
                                <h2 class="title text-center">Learning & Support</h2>

                                <div class="device device-iphone col-md-4 col-sm-6 col-xs-12 visible-xs-block mobileimages_spaceing">
                                    <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                                        <div class="device-holder-inner">
                                            <img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-1.5.jpg" alt="">
                                        </div><!--//device-holder-inner-->
                                    </div><!--//device-holder-->
                                </div><!--//phone-holder-->


                                <p class="intro text-center">This tool contains information and resources from over 20 governmental, NGO and charity websites. Split into seven easy-to-navigate and understand sections.</p>
                                <ul class="list-inline forty-top">
                                    <li><span class="pe-icon pe-7s-users pe-4x icon_space" style="color:#312782;"></span><span class="icon_caption">Services <br/>& Support</span></li>
                                    <li><span class="pe-icon pe-7s-map-marker pe-4x icon_space"style="color:#662482;"></span><span class="icon_caption">Working <br/>oportunties</span></li>
                                    <li><span class="pe-icon pe-7s-note2 pe-4x icon_space"style="color:#bd1622;"></span><span class="icon_caption">Preparing <br/>for work</span></li>
                                    <li><span class="pe-icon pe-7s-copy-file pe-4x"style="color:#006633;"></span><span class="icon_caption">Legal<br/>rights</span></li>
                                </ul>
                            </div><!--//content-inner-->
                            <div class="testimonial text-center forty-top">
                                <div class="quote-container">
                                    <i class="fa fa-quote-left"></i>
                                    <blockquote class="quote">
                                        Combining open data from the third sector and government enables charities, employers and the NHS to work together and provide integrated services that will support people in our society.
                                    </blockquote>
                                    <div class="source">
                                        <p class="meta">
                                            <span class="source-name"><a href="#">Jeni Tennison</a></span>
                                            Deputy CEO and Technical Director at the ODI</span>
                                        </p>
                                    </div><!--//source-->
                                </div><!--//quote-container-->
                            </div><!--//testimonial-->
                        </div><!--//content-->
                        <div class="device device-iphone col-md-4 col-sm-6 col-xs-12  xs-hidden hiddenxs">
                            <div class="device-holder iphone-holder iphone-gold-holder offset-top">
                                <div class="device-holder-inner">
                                    <img class="img-responsive" src="{{ STATIC_URL }}new_assets/images/devices/screenshots/iphone6-screen-1.5.jpg" alt="">
                                </div><!--//device-holder-inner-->
                            </div><!--//device-holder-->
                        </div><!--//phone-holder-->
                    </div><!--//row-->
                </div><!--//container-->
            </div><!--//section-inner-->
        </section><!--//benefit-1-->
    </div><!--//sections-wrapper-->


    <!-- ******FOOTER****** -->

    <footer class="footer">
        <div class="container text-center">
            <nav class="links">
                <ul class="list-inline">
                    <!-- <li><a href="about.html">About</a></li> -->
                    <!--  <li><a href="press.html">Press</a></li> -->
                    <!--  <li><a href="pricing.html">Pricing</a></li> -->
                    <!-- <li><a href="faqs.html">FAQs</a></li> -->
                    <!--  <li><a href="jobs.html">Jobs</a></li> -->
                    <li><a href="{% url 'blog' %}">Thoughts</a></li>
                    <!-- <li><a href="contact.html">Contact</a></li> -->
                </ul>
            </nav>
            <ul class="social-icons list-inline">
                <li><a href="https://twitter.com/plexussupportuk"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/plexussupport"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <ul class="links legal-links list-inline">
                <li><a href="#">Privacy</a></li>
                <li class="last"><a href="#">Terms</a></li>
            </ul><!--//legal-links-->
            <small class="copyright">Copyright &copy; 2016 <a href="https://themes.3rdwavemedia.com/">Plexus.support</a></small>

        </div><!--//container-->
    </footer><!--//footer-->
</div><!--//canvas-wrapper-->

<!-- *****Video Modal***** -->
<div class="modal modal-video modelbg" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
            </div>
            <div class="modal-body">
                <div class="video-container text-center">
                    <form action="//ma-work.us2.list-manage.com/subscribe/post?u=1942b6bbcbfd553cd7714a3f4&amp;id=63c0e6b760" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="contact-form-inner">
                            <h2 class="title forty-top white">Join here to learn more</h2>
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 form-group">
                                    <label class="sr-only" for="cemail">Email address</label>
                                    <input type="email" class="form-control modelform" id="cemail" name="EMAIL" placeholder="Email address" required>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 form-group">
                                    <label class="sr-only" for="cname-first">First Name</label>
                                    <input type="text" class="form-control modelform" id="cname-first" name="FNAME" placeholder="First name" minlength="2" required>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 form-group">
                                    <label class="sr-only" for="cname-last">Last Name</label>
                                    <input type="text" class="form-control modelform" id="cname-last" name="LNAME" placeholder="Last name" minlength="2" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 form-group">
                                    <button type="submit" class="btn btn-block btn-cta btn-cta-primary addbutton">Add me</button>
                                </div>
                            </div><!--//row-->
                        </div>
                        <div id="form-messages">

                        </div>
                    </form><!--//contact-form-->
                    <div class="post-form">
                        <p class="intro">
                            Thank you for signing up to Grace. We'll be in touch shortly. In the mean time if you have any questions please feel free to <a href="mailto:info@plexus.support">email us</a>
                        </p>
                    </div>
                </div><!--//video-container-->
            </div><!--//modal-body-->
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->


<!-- Main Javascript -->
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/js/main.js"></script>

<!-- Fullpage.js -->
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/fullPage.js/jquery.fullPage.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/js/fullpage-custom.js"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/js/owl-custom.js"></script>


<!-- Form Validation -->
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/FitVids/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/js/form-validation-custom.js"></script>

<!-- Form iOS fix -->
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/plugins/isMobile/isMobile.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/js/form-mobile-fix.js"></script>

<!-- Vimeo video -->
<script src="https://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}new_assets/js/vimeo.js"></script>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75011142-1', 'auto');
    ga('send', 'pageview');

</script>

<script type="text/javascript">
    $('.btn').on('click',function(e){
        $(this).parent().parent().parent().hide();
        $('.post-form').show();
    });
</script>

</body>
</html>
