{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plexus Support</title>
    <meta name="theme-color" content="#174787"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" >

    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
</head>
<body>

<div class="frontbadgeimage" style="background-image:url({% static 'img/Comp-1-large.gif' %});">
</div>

</body>
</html>
