<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="apple-mobile-web-app-capable" />
</head>
<body>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var path = window.location.pathname;
        if (path.indexOf('service-and-support') >=0 ){
            window.location = "plexus://service-and-support";
        }
        if (path.indexOf('service-and-support') >=0 ){
            window.location = "plexus://service-and-support";
        }
        if (path.indexOf('working-opportunities') >=0 ){
            window.location = "plexus://working-opportunities";
        }
        if (path.indexOf('preparing-for-work') >=0 ){
            window.location = "plexus://preparing-for-work";
        }
        if (path.indexOf('legal-rights') >=0 ){
            window.location = "plexus://legal-rights";
        }
        if (path.indexOf('money-management') >=0 ){
            window.location = "plexus://money-management";
        }
        if (path.indexOf('housing') >=0 ){
            window.location = "plexus://housing";
        }
        if (path.indexOf('physical-activities') >=0 ){
            window.location = "plexus://physical-activities";
        }
    </script>
</body>
</html>