<div class="notifyer" ng-if="notifys == false" ng-click="addnot()">
    <p>To add the app to your home screen, click the menu on the top right corner then go down to 'Request desktop site'</p>
</div>

<div class="row headersection home">
    <div class="menutitle">
        <img src="/static/img/logo.svg" class="logo">
    </div>
</div>
<div class="btnsection-wrapper">
    <div class="btnsection">
        <a href="#/support">
            <div class="row buttonsection supportsection">
                <div class="front">
                    <img src="/static/img/buttons/supportservices.svg" class="img-responsive colorbutton">
                </div>
            </div>
        </a>
        <div class="row buttonsection backtowork">
            <div class="front">
                <img src="/static/img/buttons/backtowork.svg" class="img-responsive colorbutton">
            </div>
            <div class="back">
                <ul class="backboxspace">
                <li><a class="itemclick backtowork" href="#/backtowork/search/volunteering">volunteering</a></li>
                <li><a class="itemclick backtowork" href="#/backtowork/search/new_work">new work</a></li>
                <li ng-repeat='bw in backtowork'><a class="itemclick backtowork" href="#/backtowork#{$ bw.slug $}">{$ bw.title $}</a></li>
                </ul>
            </div>
        </div>

        <div class="row buttonsection around">
            <div class="front">
                <img src="/static/img/buttons/aroundyou.svg" class="img-responsive colorbutton">
            </div>
            <div class="back">
                <ul class="backboxspace">
                    <li><a class="itemclick around" href="#/aroundyou#mentalhealth">Mental Health</a></li>
                    <li><a class="itemclick around" href="#/aroundyou#disableallowance">Disability Living Allowance</a></li>
                    <li><a class="itemclick around" href="#/aroundyou#jobseeking">Job Seeking</a></li>
                </ul>
            </div>
        </div>

        <div class="row buttonsection legalright">
            <div class="front">
                <img src="/static/img/buttons/legalrights.svg" class="img-responsive colorbutton">
            </div>
            <div class="back">
                <ul class="backboxspace">
                    <li ng-repeat="lg in legal"><a class="itemclick legalright" href="#/legal_right#{$ lg.slug $}">{$ lg.title $}</a></li>
                </ul>
            </div>
        </div>
        <div class="row buttonsection details">
            <div class="front">
                <img src="/static/img/buttons/mydetails.svg" class="img-responsive colorbutton">
            </div>
            <div class="back">
                <ul class="backboxspace twosection">
                    <li><a class="itemclick details" href="#/mydetails#profile">Profile</a></li>
                    <li><a class="itemclick details" href="#/mydetails#achievement">Achievements</a></li>
                </ul>
            </div>
        </div>
        <div class="row buttonsection ourdata">
            <div class="front">
                <img src="/static/img/buttons/ourdata.svg" class="img-responsive colorbutton">
            </div>
            <div class="back">
                <ul class="backboxspace threesection">
                    <li><a class="itemclick ourdata" href="#/our_data#term-of-use">Terms of use</a></li>
                    <li><a class="itemclick ourdata" href="#/our_data#data-homepage">Data homepage</a></li>
                    <li><a class="itemclick ourdata" href="#/our_data#update-notifications">Update notification</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $('.front').on('click', function(res){
        $(this).fadeToggle();
        $(this).parent().children('.back').fadeToggle();
    });
    $('.back').on('click', function(res){
        $(this).fadeToggle();
        $(this).parent().children('.front').fadeToggle();
    });

    $(window).scroll(function(){
        $('.notifyer').fadeOut('fast');
    });
</script>
