<div>
    <div class="splashbadgesection">
        <div class="splashbadge">
            <div class="splashbadgeimage">
                <img src="/static/img/stack_large.gif">
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var appCache = window.applicationCache;
        var cacheProg = 0;

        var totalNumberOfFiles = 168; //this is for firefox

        var isMobile = {
            Android: function() {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function() {
                return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };

        // hide the loading bar when it's done
        function loadingDone() {
            $('.frontbadgeimage').fadeOut('slow', function(){

            });
            if( isMobile.any() ){
                window.location = "/#/splash/";
            }else{
                window.location = "/home/";
            };

        };

        var privateBrowsingTimer = window.setTimeout(function(){
            loadingDone();
            //you have 5 seconds to load at least 1 item otherwise we assume you are in private browsing mode. First Item should be small and fast to load.
        }, 3000);



        window.addEventListener('load', function(e) {
            // Check if a new cache is available on page load.

            window.applicationCache.addEventListener('error', function(e) {
                //there was an issue with the app cache. Chrome incognito bug
                loadingDone();
            }, false);

            window.applicationCache.addEventListener('updateready', function(e) {
                if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
                    // Browser downloaded a new app cache.
                    //if (confirm('A new version of this site is available. Load it?')) {
                    window.location.reload(); //dont ask, just do
                    //}
                } else {
                    // Manifest didn't changed. Nothing new to server.
                }
            }, false);

            // Once the update is done, start er up
            window.applicationCache.addEventListener('cached', function() {
                loadingDone();
            }, false);

            // If there is no update, start er up
            window.applicationCache.addEventListener('noupdate', function() {
                loadingDone();
            }, false);
        }, false);



        // fires every time a file is loaded
        function progressEvent(e) {
            //prog.className = '';

            window.clearTimeout(privateBrowsingTimer);//clears the auto redirect timer

            // update the percent
            totalfiles = Number(e.total);
            if(isNaN(totalfiles)) {
                totalfiles = totalNumberOfFiles;
            }

            // when it's done, run the loading done function
            if(cacheProg >= totalfiles) {
                loadingDone();
            }
        }
        appCache.addEventListener('progress', progressEvent, false);


    </script>

</div>
