<div class="groupwrapper" ng-init="visited()">
    <div class="swiper-container splashsection">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="screensection" id="logos" data-index="0" ng-click="allow()">
                    <div class="splashbadgesection">
                        <div class="splashbadge">
                            <div class="splashbadgeimage">
                                <img src="/static/img/stack_large.gif">
                            </div>
                            <div class="splashbadgetext">
                                <img src="/static/img/logo.svg">
                            </div>
                        </div>
                    </div>


                    <div class="cookie-arth">
                        <p>We use cookies to ensure that we give you the best experience on our website. If you approve on us using cookies please click this banner.</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide splashsectioncolor" ng-repeat="body in list">
                <div id="{$ body.slug $}" data-index="{$ $index + 1$}">
                    <div class="fuzsection">
                        <div class="menutitle">
                            <img src="/static/img/logo.svg" class="logo">
                        </div>

                        <h1 class="fuztitle">{$ body.title $}</h1>
                        <div class="fuzbodywrapper">
                            <p ng-bind-html="body.body" class="fuzbody"></p>
                        </div>

                        <div class="buttons">
                            <div class="prev" ng-click="prev($index + 1)">
                                <p><i class="fa fa-arrow-left"></i> PREV</p>
                            </div>
                            <div class="center">

                            </div>
                            <div class="next" ng-click="next($index + 1)">
                                <p><span ng-if="$last">FINISH</span><span ng-if="!$last">NEXT</span> <i class="fa fa-arrow-right"></i></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function() {
            splashSwiper = new Swiper('.swiper-container', {
                spaceBetween: 0,
                nextButton: 'NEXT',
                prevButton:'PREV'
            });

            $('.splashbadgetext').fadeIn('slow');

            $('.cookie-arth').fadeIn('slow');
        },200);

    </script>
</div>
