$blue:#2d2e82;
$grey:#F1F1F1;

@mixin bakblue{
  background: linear-gradient(269deg, #2f2e87, #1e6bb3);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin ravblue{
  background: linear-gradient(269deg, #1e6bb3, #2f2e87);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin bakpur{
  background: linear-gradient(269deg, #e3007e, #682382);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin revbakpur{
  background: linear-gradient(269deg, #682382, #e3007e);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin bakgrn{
  background: linear-gradient(269deg, #0b6d32, #85b821);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin baksplash{
  background: linear-gradient(269deg, #189F97, #8FC659);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin bakoran{
  background: linear-gradient(269deg, #f19000, #be1821);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin revbakoran{
  background: linear-gradient(269deg, #be1821, #f19000);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin baklme{
  background: linear-gradient(269deg, #06a295, #f7e910);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin bakyel{
  background: linear-gradient(269deg, #F8B233, #FCEA0D);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

@mixin revyel{
  background: linear-gradient(269deg, #FCEA0D, #F8B233);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
  }
}

body{
  height: 100%;
  position: absolute;
  width: 100%;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius:0px;
}

.mindnhs{
  position:absolute;
  width:100%;
  background-color:white;
  display:none;

  &.active{
    display:block;
  }
}

.mindnhsdetails{
  height: 100%;
  position: relative;
}

.frontbadgeimage{
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display:block;
}

.notifyer{
  width: 100%;
  padding: 10px;
  @include revbakpur;
  color:white;
}

h1, h2{
  font-family: 'futura-pt', sans-serif;
  font-weight:400;
  font-size:20px;
}

p, a{
  font-family: 'Roboto', sans-serif;
  font-weight:300;
}

h3, h4{
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  font-size:14px;
}

input{
  font-family: 'Roboto', sans-serif;
}

p.error{
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  color:white;
  font-size:14px;
  padding:5px;
}

.exitwrapper {
  text-align: center;
  position: relative;
  width: 100%;
  display: none;
}

.forwardbtn{
  position: absolute;
  right: 30px;
  width: 20px;
  display: inline-block;
  float: right;
  top:12px;
}

.locationtex_servicet {
  width: 60%;
  margin-left: 20%;
  font-weight: 500;
}


.locationoptions{
  font-weight:300;

  &.active{
    font-weight:500 !important;
  }
}

.headersection{
  position: fixed;
  display: block;
  height: 50px;
  width: 100%;
  z-index: 1001;
  margin-right: 0;
  margin-left: 0;



  &.home{
    background-color: white;
    height:60px;
  }

  &.support{
    @include bakblue;
  }

  &.backtowork{
    @include bakpur;
    height:100px;
  }
  &.legalright{
    @include bakgrn;
    height:100px;
  }
  &.details{
    @include bakoran;
    height:100px;
  }
  &.ourdata{
    @include baklme;
    height:100px;
  }
  &.around{
    @include bakyel;
    height:100px;
  }

  .menu{
    position: absolute;
    top:3px;
    right:10px;
    display: block;
    width:43px;
    height:43px;
    .menuitem{
    }
    .backitem{
      margin-top:5px;
    }
  }

  .topline{
    width: calc( 100% - 20px );
    margin-left: 10px;
    margin-right: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    display: block;
    top: 46px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menutitle{
    position: absolute;
    display: block;
    width:100%;
    text-align:center;

    .logo{
      position: relative;
      top:10px;
      height:51px;
    }
  }

  .title{
    position: absolute;
    display: block;

    .backbtn{
      width:20px;
      height:28px;
      position: absolute;
      display: inline-block;
      top:11px;
      left:13px;
      cursor:pointer;
    }


    .sectiontitle{
      color: white;
      font-size: 20px;
      display: inline-block;
      position: relative;
      margin-top: 14px;
      left: 50px;
      margin-bottom: 10px;

      &.noarrow{
        left:10px !important;
      }
    }
  }

  .topsection {
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    .locwrap{
      position: relative;
      left:10px;
      display:inline-block;
    }

    .buttonwrap{
      position: absolute;
      right:5%;
      display:inline-block;

    }

  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0);

  }
}

.footersection {
  position: relative;
  display: block;
  bottom: 0px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  @include bakyel;

  .locwrap{
    position: relative;
    left:10px;
    display:inline-block;
    color:white;

    p{
      font-size: 17px;
      font-weight: bold;
      margin-top: 11px;
    }
  }

  .buttonwrap{
    position: absolute;
    right:5%;
    display:inline-block;
    height: 100%;

    .locwrapper{
      margin-top: 14px;
      img{
        width:20px;
        height:20px;
      }
    }

  }

}

.screensection{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow-x: hidden;

  &.support{
    @include bakblue;
  }
  &.backtowork{
    @include bakpur;
  }
  &.legalright{
    @include bakgrn;
  }
  &.details{
    @include bakoran;
  }
  &.ourdata{
    @include baklme;
  }
  &.around{
    @include bakyel;
  }


  .centersection{
    text-align:center;
    margin-bottom:10%;
    color:white;

    &.small{
      margin-bottom:8%;


    }

    .searchinput{

      input {
        width: 60%;
        margin-top: 15px;
        border: 0px;
        background:None;
        text-align:center;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        padding-left: 10px;
        color: white;
        font-size: 16px !important;
        -webkit-appearance: none;
        border-radius: 0;
        &:focus {
          outline: 0;
        }
      }
      ::-webkit-input-placeholder {
        color: white;
        font-family: 'Roboto', sans-serif;
      }

      :-moz-placeholder { /* Firefox 18- */
        color: white;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
        color: white;
      }

      :-ms-input-placeholder {
        color: white;
      }

        .viewbtn{
          width:60%;
          margin-left:4%;
          margin-right:4%;
          display:inline-block;
          position: relative;
          padding:4px;
          height: 38px;
          margin-top: 20px;
          margin-bottom: 5px;


          &.support{
            color: #2f2e87;
            @include ravblue;
          }
          &.backtowork{
            color: #662482;
            @include revbakpur;
          }
          &.around{
            color: #F8B233;
            @include revyel;
          }


          a{
            position: absolute;
            width: calc( 100% - 10px );
            left: 5px;
            height: 30px;
            padding: 0px;
            background-color: white;
            text-align: center;
            font-size: 20px;
            border: none;
            font-family:'futura-pt', sans-serif;
            line-height:24px;

            &.support{
              color: #2f2e87;
            }
            &.backtowork{
              color: #662482;
            }
            &.around{
              color: #F8B233;
            }
          }

          button{
            position: absolute;
            width: calc( 100% - 10px );
            left: 5px;
            height: 30px;
            padding: 0px;
            background-color: white;
            text-align: center;
            font-size: 20px;
            border: none;
            font-family:'futura-pt', sans-serif;
            line-height:24px;
            &.support{
              color: #2f2e87;
            }
            &.backtowork{
              color: #662482;
            }
            &.around{
              color: #F8B233;
            }
          }
        }

    }



    .dropdowninput{
      select{
        background: transparent;
        width: 60%;
        margin-top: 15px;
        border: 0px;
        text-align:center;
        border-bottom: 1px solid white;
        color: white;
        font-size: 16px !important;
        padding: 0px 5px 5px 20px;
        background-image: url('../img/buttons/down.svg');
        background-repeat: no-repeat;
        -webkit-appearance: none;
        background-position: 97% 7px;
        -webkit-appearance: none;
        border-radius: 0;
        &:focus {
          outline: 0;
        }

        option{
          transition: all .2s ease-in-out;
          color:black;

          &:hover{
            background: grey;
            color:blue;
          }
        }
      }
    }
    .multiselect{
      select{
        height:230px;
        background-image: url('');
        border-bottom:0 solid;

        option{
          color:white;
          margin-top:5px;
          margin-bottom:5px;

          &:hover{
            background: grey;
            color:blue;
          }
          &:active{
            color:#2f2e87;
            background:white;
          }
        }
      }
    }
  }
}

.searchlocation{
  cursor:pointer;
  .locationicon{
    position: relative;
    display:inline-block;
  }
  .locationtext{
    position: relative;
    display:inline-block;
  }
}

.topsection{
  .currentloc{
    color:white;
    position: relative;
    display:inline-block;
    font-weight:700;
  }

  .locationicon_small{
    width:20px;
    height:20px;
    position:relative;
    display:none;
    margin-right:20px;
    cursor:pointer;
  }
  .edit_small{
    width:20px;
    height:20px;
    position:relative;
    display:inline-block;
    cursor:pointer;
  }
}

.colorbutton{
  width:100%;
}

.btnsection{
  padding-top: 60px;
}
.buttonsection{
  width:100%;
  position: relative;
  display: block;
  margin-left:0px;
  margin-right:0px;
  height: 152px;
  &.supportsection{
    @include bakblue;
  }
  &.backtowork{
    @include bakpur;
  }
  &.legalright{
    @include bakgrn;
  }
  &.details{
    @include bakoran;
  }
  &.ourdata{
    @include baklme;
  }
  &.around{
    @include bakyel;
  }

  img.img-responsive.colorbutton {
    margin: auto auto;
    height: 100%;
  }

  .front{
    position: relative;
    display:block;
  }

  .back{
    width: calc(100% - 20px) !important;
    height: calc(100% - 20px) !important;
    text-align: center;
    margin: 10px;
    background-color: white;
    position: absolute;
    display:none;
    ul.backboxspace{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      display:-webkit-flex;
      -webkit-flex-direction:column;
      -webkit-justify-content: space-around;
      margin: 0;
      list-style: none;
      height: 100%;
      padding-bottom:5px;
      padding-top:5px;
      padding-left:0px;
      padding-right:0px;

      &.threesection{
        padding-top:25px;
        padding-bottom:25px;
      }

      &.twosection{
        padding-top:40px;
        padding-bottom:40px;
      }

    }
    .itemclick{
      display:block;
      &.backtowork{
        color:#E92390;
      }
      &.legalright{
        color:#237B4F;
      }
      &.details{
        color:#e5332a;
      }
      &.ourdata{
        color:#2dab66;
      }
      &.around{
        color:#F8B233;
      }
    }
  }
}

.errormessage {
  display: inline-block;
  position: absolute;
  top: 70px;
  color: white;
}

.searchwrapper{
  top: 50%;
  margin-top: -100px;
  position: relative;

  &.top{
    margin-top: -180px;
  }

  &.up{
    margin-top: -145px;

  }

  &.details{
    margin-top: -150px;
  }

  .errotext{
    width:80%;
    text-align: center;
    margin-left:10%;
  }

  .facebookbtn{
    text-align:center;
    position: relative;
    .btn-facebook{
      position: relative;
      width:186px;
      height:36px;
      font-size:12px;
      margin:auto;
      font-weight:700;
      line-height:23px;
      i{
        font-size: 1.9em;
      }
    }
  }
  .signinreg{
    input[type="file"]::-webkit-file-upload-button, button {
      align-items: flex-start;
      text-align: center;
      cursor: default;
      color: #E84E1B;
      padding: 2px 6px 3px;
      border: none;
      -webkit-appearance: none;
      border-radius: 0;

      background-color: white;
      box-sizing: border-box;
    }
  }


}

.contentwrapper {
  margin-top:50px;

  &.swiperdetails{
    position: relative;
    margin-top: 60px;
    height: calc(100% - 60px);
    overflow-y: auto;
  }

  &.sweep{
    margin-top:0;
  }

  &.backtowork{
    margin-top:100px;
    height: calc( 100% - 100px);
  }

  &.legalright{
    margin-top:0px;
    height: 100% !important;
    padding:10px;
    overflow-y:scroll;
  }

  &.ourdata{
    margin-top:0px;
    height: 100% !important;
    padding:10px;
    overflow-y:scroll;
  }

  &.details{
    margin-top:100px;
    height: calc( 100% - 100px);
    padding-top:2px;
  }

  &.white{
    height:100%;
    background-color:white;
  }

  &.around{
    margin-top:100px;
    padding-top:1px;
    display:inline-table;
  }

  .leaflet-control-attribution {
    display: none;
  }

  .nav-tabs {
    border: None;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: white;
    background: None;
    border: None;
  }
  .nav-tabs > li > a {
    color: white;
    background: None;
    border: None;
  }
  .nav-tabs > li > a:hover {
    color: white;
    background: None;
    border: None;
  }


  .bottomcontrols{
    width:100%;

    &.backtowork {
      @include bakpur;
    }

    .topline{
      width: calc( 100% - 20px );
      margin-left: 10px;
      margin-right: 10px;
      height: 2px;
      background-color: white;
      position: relative;
      display: block;
      top: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
      &.btw{
        background: none;
      }
    }

    .topsection {
      position: relative;
      display: block;
      width: 100%;
      height:30px;

      .locwrap{
        position: relative;
        left:10px;
        display:inline-block;
        font-size:15px;
        top:10px;
      }

      .buttonwrap{
        position: absolute;
        right:10px;
        display:inline-block;
        top:10px;
      }
    }
  }

  .bottomsection {
    position: relative;

    .tabsection {
      .tabtabs {
        a{
          font-family:'futura-pt', sans-serif;
          font-weight:400;
          font-size:16px;
        }

        &.tableft {
          width: calc(50% - 5px);
          a {
            width: 100%;
            text-align: center;
          }
          &.active{
            a{
              border-bottom: 1px solid white;
              padding-bottom: 0px;
            }
          }
        }
        &.tabright {
          width: calc(50% - 5px);
          a {
            width: 100%;
            text-align: center;
          }

          &.active{
            a{
              border-bottom: 1px solid white;
              padding-bottom: 0px;
            }
          }
        }
        &.tabcenter {
          width: 10px;
          color: white;
          text-align: center;

          .centerdash {
            margin: 10px 0 10px;
          }

          .tabtext{
            font-size: 20px;
            margin-bottom: 0px;
            position: relative;
            top: 6px;
          }

        }
        &.singletitle{
          width:100%;
          text-align: center;

          .tabtext{
            color:white;
            line-height:32px;
          }
        }
      }
    }
    .tab-content {
      background-color: white;
      /* height: 100%; */
      width: 100%;
      padding-top:1px;
      position: absolute;
    }
  }
}

.mindtopwrap {
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  cusor:pointer;

  .itemtitle{
    .backbtn{
      display: inline-block;
      width:21px;
      top: 0px;
      position: relative;
      float: left;
      margin-right: 10px;
    }
    .returntitle{
      display: inline-block;
      font-weight:500;
      word-break: break-word;
      white-space: pre-wrap;
      width: calc(100% - 50px);
      position: relative;
      top: -3px;
    }
  }
}

.btwsectwrapper{
  margin-top:2px;
  padding-top:2px;
}


.btwwrapper{
  padding: 10px;
  margin: 10px;
  background-color: #F1F1F1;
  height: 50px;
  cursor: pointer;
  position: relative;
  display: inline-table;
  width: calc(100% - 20px);
  cursor:pointer;

  i.expandbtn{
    width:13px;
    height:13px;
    display:inline-block;
    position: relative;
    background-repeat: no-repeat;
    float: right;
    background-size: 13px 13px;
    top: 8px;

    &.neg{
      background-image:url('../img/buttons/expand_neg.svg');
    }
    &.pos{
      background-image:url('../img/buttons/expand_plus.svg');
    }
  }

  .itemtitle{
    .returntitle{
      font-size:16px;
      font-weight: 300;
      display:inline-block;
      float:left;
      padding-top:3px;
    }

    .forwardbtn{
      display:inline-block;
      float:right;
      width:28px;
      margin-top:2px;
    }
  }

  .subwrapper{
    text-decoration: none;
    color:black;
    width:95%;
    /* height:100%; */
    position: relative;
    display:inline-block;

    &:hover{
      text-decoration: none;
      color:black;
    }

    .itemstatementwrap{
      .itemstatement{
        font-size:16px;
        padding-top: 4px;
        margin-bottom: 0px;
        display:inline-block;
        float:left;
        max-width: calc(100% - 20px);
      }

    }
  }

}

.detailwrapper {
  padding: 10px;
  margin: 10px;
  background-color: $grey;

  &.sweep{
    margin-bottom:70px;
  }

  .lighttext{
    font-weight: 100;
  }

  .imagewrapper{
    text-align: -webkit-center;
    width: 100%;
  }

  .imagegroupwrapper{
    width: 50%;
    height: 100px;
    position: relative;
    display: inline-block;
    text-align: -webkit-center;

  }

  .smallcircular {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 10px;
  }

  .circular {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 30px;
  }

  .buttonsect{
    .registerbtn{
      width:40%;
      margin-left:4%;
      margin-right:4%;
      display:inline-block;
      position: relative;
      padding:4px;
      height: 45px;
      margin-top: 20px;
      margin-bottom: 5px;
      @include revbakoran;

      button{
        position: relative;
        width: 100%;
        height: 37px;
        padding: 0px;
        background-color: white;
        color: #E84E1B;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family:'futura-pt', sans-serif;
      }
    }
  }

  .textwrap{
    margin-bottom:30px;
  }
}

.cookie-arth{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  @include revbakpur;
  color:white;
  display:none;
  height:15%;
}

.fuzsection{
  width: calc( 100% - 40px );
  height:calc( 100% - 40px );
  position: relative;
  margin:20px;
  padding:20px;
  background-color: rgba(255,255,255,0.6);

  .menutitle{
    text-align:center;
    img{
      height:50px;
      width:auto;
    }
  }
  .fuztitle{
    font-family: 'futura-pt', sans-serif;
    font-weight:400;
    font-size:20px;
    margin-bottom:0;
  }
  .fuzbodywrapper{
    position: relative;
    overflow-y:auto;
    height:73%;

    .fuzbody{
      font-family: 'Roboto', sans-serif;
      font-weight:300;
      font-size:14px;
    }
  }

  .buttons{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-block;
    color:#6E297D;

    .prev{
      position: relative;
      display:inline-block;
      float:left;
      color:#6E297D;
      width:90px;
      font-weight: 900;
    }
    .next{
      position: relative;
      display:inline-block;
      float:right;
      color:#6E297D;
      width:90px;
      font-weight: 900;
    }
  }
}

.splashbadgesection {
  width: 100%;
  height: calc(100% - 15%);
  position: relative;
  text-align: center;
  vertical-align: middle;

  .splashbadge {
    position: relative;
    width: 118px;
    height: 189px;
    margin: auto auto;
    text-align: -webkit-center;
    top: 50%;
    margin-top: -24%;

    .splashbadgeimage {
      position: relative;
      display: block;
      img {
        width: 112px;
        height: 152px;
        position: relative;
        display: block;
      }
    }
    .splashbadgetext {
      position: absolute;
      width: 100%;
      text-align: center;
      display: none;
      bottom: 0px;
    }
  }
}
.swiper-container{
  width: 100%;
  height: calc(100% - 50px);
  background-color: white;
  top: 50px;

  &.splashsection{
    height:100%;
    top:0px;

    .splashsectioncolor{
      width:100%;
      height:100%;
      @include baksplash;
    }

  }

  .jobwrap {
    position: relative;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    display: inline-block;
    background-color:#f1f1f1;

    &.even{
      background-color:#e1e1e1;
    }

    .percentagesect{
      width:20%;
      position: relative;
      display:inline-block;
      float:left;

      .small{
        font-size:10px;
      }

      .large{
        font-size:20px;
      }

      .arrow{

        &.start{
          width:30px;
          height:10px;
          @include bakyel;
        }

        &.up{
          width:0;
          height: 0;
          border-left:20px solid transparent;
          border-right:20px solid transparent;
          border-bottom: 20px solid #F8B233;
          position: relative;
          top: 20px;
          left: 6px;
        }

        &.down{
          width:0;
          height: 0;
          border-left:20px solid transparent;
          border-right:20px solid transparent;
          border-top: 20px solid #F8B233;
          position: relative;
          top: 20px;
          left: 6px;
        }
      }
    }

    .datesect{
      width:80%;
      position: relative;
      display:inline-block;
      float:right;
      p{

      }
    }
  }

  .swiper-wrapper{

    .swiper-slide{
      overflow-y:hidden;

      .swipedetails{
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .aroundsection{
        margin-top: 60px;
        overflow-y: scroll;
        height: calc(100% - 60px);

        .circlesectsmall{
          width:50px;
          height:50px;
          background-color:white;
          border-radius:50%;
          border: 2px solid #F8B233;
          margin:auto;
          position: relative;
          display: table-cell;
          vertical-align: middle;
          text-align: center;


          .innercirlcesmall{
            position: relative;
            display:inline-block;
            width:50px;
            height:50px;
            @include revyel;
            border-radius:50%;
            margin:auto;
            transition: width 2s, height 2s;
          }
        }
      }

      .smallhead{
        height:50px;
        position:absolute;
        z-index:10;
        .topline{
          top:-5px;
        }

        .topsection{
          width:100%;
          font-family:'futura-pt', sans-serif;
          font-size:16px;
          color:white;
          text-align:center;
          height:32px;

          .tabs{
            white-space: pre;
            font-family:'futura-pt', sans-serif;
            font-size:18px;
            min-width:74px;

            &.tableft{
              display:inline-block;
              font-weight:100;
              float:left;
              text-align:left;
            }
            &.tabtitle{
              font-weight:800;
              width: 100%;
              position: absolute;
              display: block;
              text-align: center;
            }
            &.tabright{
              display:inline-block;
              text-align:right;
              float:right;
              font-weight:100;
            }
          }
        }
      }
      .swipecontentscroll{
        position: absolute;
        top:50px;
        width:100%;
        height:100%;
        overflow-y:auto;
        padding-bottom:100px;
        .swipersectcontext {
          position: relative;
          width: 100%;
          overflow-x:hidden;
        }
      }

      .extraptop{
        padding-top:20px;
        margin-bottom:15px;
      }

    }
  }

}

.mindfilter{
  padding: 10px;
  margin: 10px;
  text-align: center;
  @include bakblue;
  color: white;
  margin-bottom:-10px;
  p{
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin:0px;
  }
}


.mindwrapper{
  padding: 10px;
  margin:10px;
  background-color: $grey;
  position: relative;

  .itemtitle{
    .returntitle{
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      width: calc(100% - 50px);
      display: inline-block;
    }
  }

  .buttonwrapper{
    width:100%;

    a{
      @include bakblue;
      color:white;
      display:inline-block;
      position:relative;
      width:31%;
      text-align:center;
      margin-left:1px;
      margin-right:1px;
      height:30px;
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 30px;
      font-size:13px;
      font-weight:400;

      &.non{
        opacity: 0.4;
      }
    }
  }

  .itemaddress{
    font-weight:100;
    font-size:14px;
    /* margin-top:35px; */

    .address{
      margin-bottom:10px;

      p{
        margin-bottom:0px;
      }

    }
  }
  .itemstatementwrap{
    font-weight:100;
    font-size:14px;

    .itemstatement{
      &.smallgap{
        margin-bottom:1px;
        margin-top: 15px;
      }
    }

    .itemstatement-service{
      margin:0;

    }
    .smallbtm{
      margin-bottom: 5px;
      margin-top: 5px;
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      position: relative;
      display: inline-block;
      width: calc(100% + 20px);
      padding-top: 5px;
      padding-bottom: 5px;

      &.odd{
        background-color: #e0e0e0;
      }

      .leftbox{
        position: relative;
        width: 30%;
        display: inline-block;
        float: left;

        p{
          font-size:30px;

          &.true{
            font-size:20px;
          }
        }

        .rating{
          width:50px;
          height:50px;
          border-radius: 50%;
          margin: auto;
          &.outstanding{
            background-image:url(../img/star.svg);
            background-repeat: no-repeat;
            background-size: cover;
          }
          &.good{
            background-color:#458f00;
          }
          &.improvement{
            background-color:#ff9900;
          }
          &.inadequate{
            background-color:#BF1000;
          }
          &.not{
            background-color: #C9C6B9 ;
          }
        }

      }

      .rightbox{
        position: relative;
        width: 69%;
        display: inline-block;
        float: right;

      }
    }
  }
  .viewwrapper{
    width:100%;
    text-align: center;
    .viewbtn{
      width:40%;
      margin-left:4%;
      margin-right:4%;
      display:inline-block;
      position: relative;
      padding:4px;
      height: 45px;
      margin-top: 20px;
      margin-bottom: 5px;
      @include revbakpur;

      a{
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 37px;
        padding: 0px;
        background-color: white;
        color: #662482;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family:'futura-pt', sans-serif;
        line-height:37px;
      }
    }
  }

}



.voljobwrapper{
  padding: 10px;
  margin:10px;
  background-color: $grey;

  .itemtitle{
    .returntitle{
      font-size:16px;
      font-weight: 500;
    }
  }

  .itemtext{
    .returntext{
      font-size:16px;
      font-weight: 100;
    }
    .datetext{
      font-size:16px;
      font-weight: 100;
    }
  }

  .buttonwrapper{
    width:100%;

    a{
      @include bakblue;
      color:white;
      display:inline-block;
      position:relative;
      width:31%;
      text-align:center;
      margin-left:1px;
      margin-right:1px;
      height:30px;
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 30px;
      font-size:13px;
      font-weight:400;
    }
  }

  .itemaddress, .itemstatementwrap{
    font-weight:100;
    font-size:14px;

    .address{
      margin-bottom:5px;
    }
  }
  .viewwrapper{
    width:100%;
    text-align: center;
    .viewbtn{
      width:40%;
      margin-left:4%;
      margin-right:4%;
      display:inline-block;
      position: relative;
      padding:4px;
      height: 38px;
      margin-top: 20px;
      margin-bottom: 5px;
      @include revbakpur;

      a{
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 30px;
        padding: 0px;
        background-color: white;
        color: #662482;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family:'futura-pt', sans-serif;
        line-height:24px;
      }

      button{
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 27px;
        padding: 0px;
        background-color: white;
        color: #662482;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family:'futura-pt', sans-serif;
        line-height:24px;}
    }
  }
}

.viewwrapper{
  width:100%;
  text-align: center;
  .viewbtn{
    width:40%;
    margin-left:4%;
    margin-right:4%;
    display:inline-block;
    position: relative;
    padding:4px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
    @include revbakpur;

    &.backtowork{
      @include revbakpur;
    }

    &.support{
      @include bakblue;
    }

    button{
      position: absolute;
      width: calc( 100% - 10px );
      left: 5px;
      height: 27px;
      padding: 0px;
      text-align: center;
      font-size: 20px;
      border: none;
      font-family:'futura-pt', sans-serif;
      line-height:24px;

      &.backtowork{
        background-color: white;
        color: #662482;
      }

      &.support{
        background-color: white;
        color: #2f2e87;
      }

    }
  }
}

input[type="button"]{
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  padding: 2px 6px 3px;
  border: 2px outset buttonface;
  -webkit-appearance: none;
  border-radius: 0;

  background-color: buttonface;
  box-sizing: border-box;
}

.locationedit{
  display:none;
  width:100%;
  height: 155px;
  background-color:white;
  z-index: 1001;
  top: -12px;
  position: relative;

  .iconbox{
    display: inline-block;
    height: 40px;
    width: 40px;
    right: 0;
    position: absolute;
    top: 20px;
    cursor:pointer;

    &.support{
      @include bakblue;
    }

    &.backtowork{
      @include bakpur;
    }


    &.details{
      @include bakoran;
    }
    &.ourdata{
      @include baklme;
    }

    .locationicon_box{
      position: relative;
      width: 80%;
      left: 10%;
      top: 10%;
    }

  }
  .searchsect {
    display: inline-block;
    position: relative;

    input {
      width: 90%;
      margin-top: 15px;
      border: 0px;
      border-bottom: 1px solid $blue;
      padding-bottom: 5px;
      padding-left: 10px;
      color: $blue;
      font-size: 16px !important;
      -webkit-appearance: none;
      border-radius: 0;

      &:focus {
        outline: 0;
      }
      &.doitwork{
        border-bottom: 1px solid #E61B72;
        color: #E61B72;

      }
    }

    select{
      width: 90%;
      margin-top: 15px;
      border: 0px;
      border-bottom: 1px solid $blue;
      padding-bottom: 5px;
      padding-left: 6px;
      color: $blue;
      font-size: 16px !important;
      background-color: white;
      background-image: url('../img/buttons/down.svg');
      background-repeat: no-repeat;
      -webkit-appearance: none;
      background-position: 97% 7px;
      &:focus {
        outline: 0;
      }
      &.doitwork{
        border-bottom: 1px solid #E61B72;
        color: #E61B72;
      }
    }


    ::-webkit-input-placeholder {
      color: $blue;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $blue;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: $blue;
    }

    :-ms-input-placeholder {
      color: $blue;
    }
  }
}

.createprof{
  width: 65%;
  margin-top: 15px;
  border: 0px;
  background: None;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  padding-left: 10px;
  color: white;
  font-size: 16px !important;
}

.scrolltabhead{
  position: relative;
  display:inline-block;
  height:22px;
  /*width: 900px;*/
  padding-top:5px;

  li{
    display:inline-block;
    float:left;
    width:240px;
    height:25px;
    text-align:center;
    position: relative;

    &.minispacer{
      width:50px !important;
    }

    a{
      color:rgba(255,255,255,0.5);
      font-size:18px;
      &.active{
        color:rgba(255,255,255,1);
        text-decoration: none;
      }
      &:focus{
        color:rgba(255,255,255,1);
        text-decoration: none;
      }
      &:hover{
        color:rgba(255,255,255,1);
        text-decoration: none;
      }
    }

    &.active{
      a{
        color:rgba(255,255,255,1);
        text-decoration: none;
      }
    }
  }
}

.legpannel{
  padding:10px;
}

.innertabsection{
  background-color:#F1F1F1;
  padding:15px 10px 10px 10px;
  margin-top:50px;

  h2{
    margin-top: 0px;
  }

  .tabtext{

    pre{
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight:300;
      display: block;
      padding: 0px;
      margin: 0 0 10px;
      line-height: 1.42857143;
      color: #000000;
      word-break: break-all;
      word-wrap: break-word;
      background: None;
      border: None;
      border-radius: 0px;
    }
  }
}

.mailreg{
  @include baklme;
  position: relative;
  padding: 4px;
  height: 59px;
  margin-top: 20px;
  margin-bottom: 5px;
  input{
    position: relative;
    width:100%;
    height:50px;
    padding:10px;
    background-color:white;
    color:green;
    text-align:center;
    font-size:15px;
    border:none;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus {
      outline: 0;
    }
  }
}

.signinreg{
  width:80%;
  margin-left:10%;
  position: relative;
  padding: 4px;
  height: 59px;
  margin-top: 20px;
  margin-bottom: 5px;
  @include revbakoran;
  input{
    position: relative;
    width:100%;
    height:50px;
    padding:10px;
    background-color:white;
    color: #E84E1B;
    text-align:center;
    font-size:15px;
    border:none;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus {
      outline: 0;
    }
  }
}

.signinwap{
  width:100%;
  text-align:center;
  margin-top:30px;

  .signinbutton{
    @include revbakoran;
    border:0;
    font-size:15px;
    width:150px;
    height:35px;
    color:white;
    font-family:'futura-pt', sans-serif;
    font-size: 20px;
    &:focus {
      outline: 0;
    }
  }
}

.registerbtn{
  width:80%;
  margin-left:10%;
  position: relative;
  padding:4px;
  height: 59px;
  margin-top: 20px;
  margin-bottom: 5px;
  @include revbakoran;

  button{
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0px;
    background-color: white;
    color: #E84E1B;
    text-align: center;
    font-size: 20px;
    border: none;
    font-family:'futura-pt', sans-serif;
  }
}

.name{
  text-transform: capitalize;
}

.firstcircle_wrap{
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  text-align: -webkit-center;

  .circlesect{
    width:250px;
    height:250px;
    background-color:white;
    border-radius:50%;
    border: 2px solid #F8B233;
    margin:auto;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    &.small{
      width:100px;
      height:100px;
    }

    .innercirlce{
      position: relative;
      display:inline-block;
      width:250px;
      height:250px;
      @include revyel;
      border-radius:50%;
      margin:auto;
      transition: width 2s, height 2s;
    }
  }
}

.localwrap {
  padding: 10px;
  margin: 10px;
  background-color: $grey;

  .regwrap {
    width: 100%;
    text-align: -webkit-center;
  }

  .itemtext{


    p{

    }
  }

  .registerbtn {
    width: 279px;
    margin-left: 0;
    position: relative;
    padding: 4px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 5px;
    @include revyel;

    button {
      position: relative;
      width: 100%;
      height: 65px;
      padding: 0px;
      background-color: white;
      color: #F8B233;
      text-align: center;
      font-size: 20px;
      border: none;
      font-family: 'futura-pt', sans-serif;
    }
  }

}

.mailregwrap{
  width:100%;
  text-align:center;
  margin-top:30px;

  .mailregbutn{
    @include baklme;
    border:0;
    font-size:15px;
    width:150px;
    height:35px;
    color:white;
    &:focus {
      outline: 0;
    }
  }
}

@media only screen and (min-width:480px) and (max-width:600px){
  .buttonsection{
    width: 100%;
    height: 203px;
    display:inline-block;
  }
}

@media only screen and (min-width:600px) and (max-width:767px){
  .buttonsection{
    width: 100%;
    height: 307px;
    display:inline-block;
  }
}


@media only screen and (min-width:767px) and (max-width:991px){
  .buttonsection{
    width: 49%;
    height: 201px;
    display:inline-block;
  }
}

@media only screen and (min-width:991px){
  .buttonsection{
    width: 480px;
    height: 201px;
    display:inline-block;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .buttonsection{
    width: 510px;
    height: 207px;
    display:inline-block;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .buttonsection{
    width:382px;
    height: 154px;
    display:inline-block;
  }
}

@media only screen and(min-width:1024px){
  .btnsection-wrapper{
    width:100%;
    .btnsection{
      width: 964px;
      position: relative;
      text-align: left;
      margin: auto;
    }

  }

}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.animate-if.ng-enter {
  max-height: 0;
  opacity: 0;
}

.animate-if.ng-enter.ng-enter-active {
  max-height: 999px;
  opacity:1;
}

.animate-if.ng-leave {
  max-height: 999px;
  opacity:1;
}

.animate-if.ng-leave.ng-leave-active {
  max-height: 0;
  opacity:1;
}
.mobileShow { display: none;}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){ .mobileShow { display: inline;}}
