body {
  height: 100%;
  position: absolute;
  width: 100%; }

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0px; }

.mindnhs {
  position: absolute;
  width: 100%;
  background-color: white;
  display: none; }
  .mindnhs.active {
    display: block; }

.mindnhsdetails {
  height: 100%;
  position: relative; }

.frontbadgeimage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block; }

.notifyer {
  width: 100%;
  padding: 10px;
  background: linear-gradient(269deg, #682382, #e3007e);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: white; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
h1, h2 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-size: 20px; }

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px; }

input {
  font-family: 'Roboto', sans-serif; }

p.error {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 14px;
  padding: 5px; }

.exitwrapper {
  text-align: center;
  position: relative;
  width: 100%;
  display: none; }

.forwardbtn {
  position: absolute;
  right: 30px;
  width: 20px;
  display: inline-block;
  float: right;
  top: 12px; }

.locationtex_servicet {
  width: 60%;
  margin-left: 20%;
  font-weight: 500; }

.locationoptions {
  font-weight: 300; }
  .locationoptions.active {
    font-weight: 500 !important; }

.headersection {
  position: fixed;
  display: block;
  height: 50px;
  width: 100%;
  z-index: 1001;
  margin-right: 0;
  margin-left: 0; }
  .headersection.home {
    background-color: white;
    height: 60px; }
  .headersection.support {
    background: linear-gradient(269deg, #2f2e87, #1e6bb3);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .headersection.backtowork {
    background: linear-gradient(269deg, #e3007e, #682382);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    height: 100px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .headersection.legalright {
    background: linear-gradient(269deg, #0b6d32, #85b821);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    height: 100px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .headersection.details {
    background: linear-gradient(269deg, #f19000, #be1821);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    height: 100px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .headersection.ourdata {
    background: linear-gradient(269deg, #06a295, #f7e910);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    height: 100px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .headersection.around {
    background: linear-gradient(269deg, #F8B233, #FCEA0D);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    height: 100px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .headersection .menu {
    position: absolute;
    top: 3px;
    right: 10px;
    display: block;
    width: 43px;
    height: 43px; }
    .headersection .menu .backitem {
      margin-top: 5px; }
  .headersection .topline {
    width: calc( 100% - 20px );
    margin-left: 10px;
    margin-right: 10px;
    height: 2px;
    background-color: white;
    position: absolute;
    display: block;
    top: 46px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .headersection .menutitle {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center; }
    .headersection .menutitle .logo {
      position: relative;
      top: 10px;
      height: 51px; }
  .headersection .title {
    position: absolute;
    display: block; }
    .headersection .title .backbtn {
      width: 20px;
      height: 28px;
      position: absolute;
      display: inline-block;
      top: 11px;
      left: 13px;
      cursor: pointer; }
    .headersection .title .sectiontitle {
      color: white;
      font-size: 20px;
      display: inline-block;
      position: relative;
      margin-top: 14px;
      left: 50px;
      margin-bottom: 10px; }
      .headersection .title .sectiontitle.noarrow {
        left: 10px !important; }
  .headersection .topsection {
    position: absolute;
    display: block;
    bottom: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; }
    .headersection .topsection .locwrap {
      position: relative;
      left: 10px;
      display: inline-block; }
    .headersection .topsection .buttonwrap {
      position: absolute;
      right: 5%;
      display: inline-block; }
  .headersection ::-webkit-scrollbar {
    width: 0px;
    background: transparent; }
  .headersection ::-webkit-scrollbar-thumb {
    background-color: transparent; }

.footersection {
  position: relative;
  display: block;
  bottom: 0px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  overflow-x: auto;
  overflow-y: hidden;
  background: linear-gradient(269deg, #F8B233, #FCEA0D);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .footersection .locwrap {
    position: relative;
    left: 10px;
    display: inline-block;
    color: white; }
    .footersection .locwrap p {
      font-size: 17px;
      font-weight: bold;
      margin-top: 11px; }
  .footersection .buttonwrap {
    position: absolute;
    right: 5%;
    display: inline-block;
    height: 100%; }
    .footersection .buttonwrap .locwrapper {
      margin-top: 14px; }
      .footersection .buttonwrap .locwrapper img {
        width: 20px;
        height: 20px; }

.screensection {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden; }
  .screensection.support {
    background: linear-gradient(269deg, #2f2e87, #1e6bb3);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .screensection.backtowork {
    background: linear-gradient(269deg, #e3007e, #682382);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .screensection.legalright {
    background: linear-gradient(269deg, #0b6d32, #85b821);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .screensection.details {
    background: linear-gradient(269deg, #f19000, #be1821);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .screensection.ourdata {
    background: linear-gradient(269deg, #06a295, #f7e910);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .screensection.around {
    background: linear-gradient(269deg, #F8B233, #FCEA0D);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .screensection .centersection {
    text-align: center;
    margin-bottom: 10%;
    color: white; }
    .screensection .centersection.small {
      margin-bottom: 8%; }
    .screensection .centersection .searchinput input {
      width: 60%;
      margin-top: 15px;
      border: 0px;
      background: None;
      text-align: center;
      border-bottom: 1px solid white;
      padding-bottom: 5px;
      padding-left: 10px;
      color: white;
      font-size: 16px !important;
      -webkit-appearance: none;
      border-radius: 0; }
      .screensection .centersection .searchinput input:focus {
        outline: 0; }
    .screensection .centersection .searchinput ::-webkit-input-placeholder {
      color: white;
      font-family: 'Roboto', sans-serif; }
    .screensection .centersection .searchinput :-moz-placeholder {
      /* Firefox 18- */
      color: white; }
    .screensection .centersection .searchinput ::-moz-placeholder {
      /* Firefox 19+ */
      color: white; }
    .screensection .centersection .searchinput :-ms-input-placeholder {
      color: white; }
    .screensection .centersection .searchinput .viewbtn {
      width: 60%;
      margin-left: 4%;
      margin-right: 4%;
      display: inline-block;
      position: relative;
      padding: 4px;
      height: 38px;
      margin-top: 20px;
      margin-bottom: 5px; }
      .screensection .centersection .searchinput .viewbtn.support {
        color: #2f2e87;
        background: linear-gradient(269deg, #1e6bb3, #2f2e87);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
      .screensection .centersection .searchinput .viewbtn.backtowork {
        color: #662482;
        background: linear-gradient(269deg, #682382, #e3007e);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
      .screensection .centersection .searchinput .viewbtn.around {
        color: #F8B233;
        background: linear-gradient(269deg, #FCEA0D, #F8B233);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
      .screensection .centersection .searchinput .viewbtn a {
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 30px;
        padding: 0px;
        background-color: white;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family: 'futura-pt', sans-serif;
        line-height: 24px; }
        .screensection .centersection .searchinput .viewbtn a.support {
          color: #2f2e87; }
        .screensection .centersection .searchinput .viewbtn a.backtowork {
          color: #662482; }
        .screensection .centersection .searchinput .viewbtn a.around {
          color: #F8B233; }
      .screensection .centersection .searchinput .viewbtn button {
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 30px;
        padding: 0px;
        background-color: white;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family: 'futura-pt', sans-serif;
        line-height: 24px; }
        .screensection .centersection .searchinput .viewbtn button.support {
          color: #2f2e87; }
        .screensection .centersection .searchinput .viewbtn button.backtowork {
          color: #662482; }
        .screensection .centersection .searchinput .viewbtn button.around {
          color: #F8B233; }
    .screensection .centersection .dropdowninput select {
      background: transparent;
      width: 60%;
      margin-top: 15px;
      border: 0px;
      text-align: center;
      border-bottom: 1px solid white;
      color: white;
      font-size: 16px !important;
      padding: 0px 5px 5px 20px;
      background-image: url("../img/buttons/down.svg");
      background-repeat: no-repeat;
      -webkit-appearance: none;
      background-position: 97% 7px;
      -webkit-appearance: none;
      border-radius: 0; }
      .screensection .centersection .dropdowninput select:focus {
        outline: 0; }
      .screensection .centersection .dropdowninput select option {
        transition: all .2s ease-in-out;
        color: black; }
        .screensection .centersection .dropdowninput select option:hover {
          background: grey;
          color: blue; }
    .screensection .centersection .multiselect select {
      height: 230px;
      background-image: url("");
      border-bottom: 0 solid; }
      .screensection .centersection .multiselect select option {
        color: white;
        margin-top: 5px;
        margin-bottom: 5px; }
        .screensection .centersection .multiselect select option:hover {
          background: grey;
          color: blue; }
        .screensection .centersection .multiselect select option:active {
          color: #2f2e87;
          background: white; }

.searchlocation {
  cursor: pointer; }
  .searchlocation .locationicon {
    position: relative;
    display: inline-block; }
  .searchlocation .locationtext {
    position: relative;
    display: inline-block; }

.topsection .currentloc {
  color: white;
  position: relative;
  display: inline-block;
  font-weight: 700; }
.topsection .locationicon_small {
  width: 20px;
  height: 20px;
  position: relative;
  display: none;
  margin-right: 20px;
  cursor: pointer; }
.topsection .edit_small {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer; }

.colorbutton {
  width: 100%; }

.btnsection {
  padding-top: 60px; }

.buttonsection {
  width: 100%;
  position: relative;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  height: 152px; }
  .buttonsection.supportsection {
    background: linear-gradient(269deg, #2f2e87, #1e6bb3);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .buttonsection.backtowork {
    background: linear-gradient(269deg, #e3007e, #682382);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .buttonsection.legalright {
    background: linear-gradient(269deg, #0b6d32, #85b821);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .buttonsection.details {
    background: linear-gradient(269deg, #f19000, #be1821);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .buttonsection.ourdata {
    background: linear-gradient(269deg, #06a295, #f7e910);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .buttonsection.around {
    background: linear-gradient(269deg, #F8B233, #FCEA0D);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .buttonsection img.img-responsive.colorbutton {
    margin: auto auto;
    height: 100%; }
  .buttonsection .front {
    position: relative;
    display: block; }
  .buttonsection .back {
    width: calc(100% - 20px) !important;
    height: calc(100% - 20px) !important;
    text-align: center;
    margin: 10px;
    background-color: white;
    position: absolute;
    display: none; }
    .buttonsection .back ul.backboxspace {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      -webkit-justify-content: space-around;
      margin: 0;
      list-style: none;
      height: 100%;
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 0px;
      padding-right: 0px; }
      .buttonsection .back ul.backboxspace.threesection {
        padding-top: 25px;
        padding-bottom: 25px; }
      .buttonsection .back ul.backboxspace.twosection {
        padding-top: 40px;
        padding-bottom: 40px; }
    .buttonsection .back .itemclick {
      display: block; }
      .buttonsection .back .itemclick.backtowork {
        color: #E92390; }
      .buttonsection .back .itemclick.legalright {
        color: #237B4F; }
      .buttonsection .back .itemclick.details {
        color: #e5332a; }
      .buttonsection .back .itemclick.ourdata {
        color: #2dab66; }
      .buttonsection .back .itemclick.around {
        color: #F8B233; }

.errormessage {
  display: inline-block;
  position: absolute;
  top: 70px;
  color: white; }

.searchwrapper {
  top: 50%;
  margin-top: -100px;
  position: relative; }
  .searchwrapper.top {
    margin-top: -180px; }
  .searchwrapper.up {
    margin-top: -145px; }
  .searchwrapper.details {
    margin-top: -150px; }
  .searchwrapper .errotext {
    width: 80%;
    text-align: center;
    margin-left: 10%; }
  .searchwrapper .facebookbtn {
    text-align: center;
    position: relative; }
    .searchwrapper .facebookbtn .btn-facebook {
      position: relative;
      width: 186px;
      height: 36px;
      font-size: 12px;
      margin: auto;
      font-weight: 700;
      line-height: 23px; }
      .searchwrapper .facebookbtn .btn-facebook i {
        font-size: 1.9em; }
  .searchwrapper .signinreg input[type="file"]::-webkit-file-upload-button, .searchwrapper .signinreg button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: #E84E1B;
    padding: 2px 6px 3px;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: white;
    box-sizing: border-box; }

.contentwrapper {
  margin-top: 50px; }
  .contentwrapper.swiperdetails {
    position: relative;
    margin-top: 60px;
    height: calc(100% - 60px);
    overflow-y: auto; }
  .contentwrapper.sweep {
    margin-top: 0; }
  .contentwrapper.backtowork {
    margin-top: 100px;
    height: calc( 100% - 100px); }
  .contentwrapper.legalright {
    margin-top: 0px;
    height: 100% !important;
    padding: 10px;
    overflow-y: scroll; }
  .contentwrapper.ourdata {
    margin-top: 0px;
    height: 100% !important;
    padding: 10px;
    overflow-y: scroll; }
  .contentwrapper.details {
    margin-top: 100px;
    height: calc( 100% - 100px);
    padding-top: 2px; }
  .contentwrapper.white {
    height: 100%;
    background-color: white; }
  .contentwrapper.around {
    margin-top: 100px;
    padding-top: 1px;
    display: inline-table; }
  .contentwrapper .leaflet-control-attribution {
    display: none; }
  .contentwrapper .nav-tabs {
    border: None; }
  .contentwrapper .nav-tabs > li.active > a, .contentwrapper .nav-tabs > li.active > a:focus, .contentwrapper .nav-tabs > li.active > a:hover {
    color: white;
    background: None;
    border: None; }
  .contentwrapper .nav-tabs > li > a {
    color: white;
    background: None;
    border: None; }
  .contentwrapper .nav-tabs > li > a:hover {
    color: white;
    background: None;
    border: None; }
  .contentwrapper .bottomcontrols {
    width: 100%; }
    .contentwrapper .bottomcontrols.backtowork {
      background: linear-gradient(269deg, #e3007e, #682382);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .contentwrapper .bottomcontrols .topline {
      width: calc( 100% - 20px );
      margin-left: 10px;
      margin-right: 10px;
      height: 2px;
      background-color: white;
      position: relative;
      display: block;
      top: 0px;
      margin-top: 10px;
      margin-bottom: 10px; }
      .contentwrapper .bottomcontrols .topline.btw {
        background: none; }
    .contentwrapper .bottomcontrols .topsection {
      position: relative;
      display: block;
      width: 100%;
      height: 30px; }
      .contentwrapper .bottomcontrols .topsection .locwrap {
        position: relative;
        left: 10px;
        display: inline-block;
        font-size: 15px;
        top: 10px; }
      .contentwrapper .bottomcontrols .topsection .buttonwrap {
        position: absolute;
        right: 10px;
        display: inline-block;
        top: 10px; }
  .contentwrapper .bottomsection {
    position: relative; }
    .contentwrapper .bottomsection .tabsection .tabtabs a {
      font-family: 'futura-pt', sans-serif;
      font-weight: 400;
      font-size: 16px; }
    .contentwrapper .bottomsection .tabsection .tabtabs.tableft {
      width: calc(50% - 5px); }
      .contentwrapper .bottomsection .tabsection .tabtabs.tableft a {
        width: 100%;
        text-align: center; }
      .contentwrapper .bottomsection .tabsection .tabtabs.tableft.active a {
        border-bottom: 1px solid white;
        padding-bottom: 0px; }
    .contentwrapper .bottomsection .tabsection .tabtabs.tabright {
      width: calc(50% - 5px); }
      .contentwrapper .bottomsection .tabsection .tabtabs.tabright a {
        width: 100%;
        text-align: center; }
      .contentwrapper .bottomsection .tabsection .tabtabs.tabright.active a {
        border-bottom: 1px solid white;
        padding-bottom: 0px; }
    .contentwrapper .bottomsection .tabsection .tabtabs.tabcenter {
      width: 10px;
      color: white;
      text-align: center; }
      .contentwrapper .bottomsection .tabsection .tabtabs.tabcenter .centerdash {
        margin: 10px 0 10px; }
      .contentwrapper .bottomsection .tabsection .tabtabs.tabcenter .tabtext {
        font-size: 20px;
        margin-bottom: 0px;
        position: relative;
        top: 6px; }
    .contentwrapper .bottomsection .tabsection .tabtabs.singletitle {
      width: 100%;
      text-align: center; }
      .contentwrapper .bottomsection .tabsection .tabtabs.singletitle .tabtext {
        color: white;
        line-height: 32px; }
    .contentwrapper .bottomsection .tab-content {
      background-color: white;
      /* height: 100%; */
      width: 100%;
      padding-top: 1px;
      position: absolute; }

.mindtopwrap {
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 300;
  cusor: pointer; }
  .mindtopwrap .itemtitle .backbtn {
    display: inline-block;
    width: 21px;
    top: 0px;
    position: relative;
    float: left;
    margin-right: 10px; }
  .mindtopwrap .itemtitle .returntitle {
    display: inline-block;
    font-weight: 500;
    word-break: break-word;
    white-space: pre-wrap;
    width: calc(100% - 50px);
    position: relative;
    top: -3px; }

.btwsectwrapper {
  margin-top: 2px;
  padding-top: 2px; }

.btwwrapper {
  padding: 10px;
  margin: 10px;
  background-color: #F1F1F1;
  height: 50px;
  cursor: pointer;
  position: relative;
  display: inline-table;
  width: calc(100% - 20px);
  cursor: pointer; }
  .btwwrapper i.expandbtn {
    width: 13px;
    height: 13px;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    float: right;
    background-size: 13px 13px;
    top: 8px; }
    .btwwrapper i.expandbtn.neg {
      background-image: url("../img/buttons/expand_neg.svg"); }
    .btwwrapper i.expandbtn.pos {
      background-image: url("../img/buttons/expand_plus.svg"); }
  .btwwrapper .itemtitle .returntitle {
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    float: left;
    padding-top: 3px; }
  .btwwrapper .itemtitle .forwardbtn {
    display: inline-block;
    float: right;
    width: 28px;
    margin-top: 2px; }
  .btwwrapper .subwrapper {
    text-decoration: none;
    color: black;
    width: 95%;
    /* height:100%; */
    position: relative;
    display: inline-block; }
    .btwwrapper .subwrapper:hover {
      text-decoration: none;
      color: black; }
    .btwwrapper .subwrapper .itemstatementwrap .itemstatement {
      font-size: 16px;
      padding-top: 4px;
      margin-bottom: 0px;
      display: inline-block;
      float: left;
      max-width: calc(100% - 20px); }

.detailwrapper {
  padding: 10px;
  margin: 10px;
  background-color: #F1F1F1; }
  .detailwrapper.sweep {
    margin-bottom: 70px; }
  .detailwrapper .lighttext {
    font-weight: 100; }
  .detailwrapper .imagewrapper {
    text-align: -webkit-center;
    width: 100%; }
  .detailwrapper .imagegroupwrapper {
    width: 50%;
    height: 100px;
    position: relative;
    display: inline-block;
    text-align: -webkit-center; }
  .detailwrapper .smallcircular {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 10px; }
  .detailwrapper .circular {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-bottom: 30px; }
  .detailwrapper .buttonsect .registerbtn {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
    position: relative;
    padding: 4px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 5px;
    background: linear-gradient(269deg, #be1821, #f19000);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .detailwrapper .buttonsect .registerbtn button {
      position: relative;
      width: 100%;
      height: 37px;
      padding: 0px;
      background-color: white;
      color: #E84E1B;
      text-align: center;
      font-size: 20px;
      border: none;
      font-family: 'futura-pt', sans-serif; }
  .detailwrapper .textwrap {
    margin-bottom: 30px; }

.cookie-arth {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(269deg, #682382, #e3007e);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: white;
  display: none;
  height: 15%; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
.fuzsection {
  width: calc( 100% - 40px );
  height: calc( 100% - 40px );
  position: relative;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6); }
  .fuzsection .menutitle {
    text-align: center; }
    .fuzsection .menutitle img {
      height: 50px;
      width: auto; }
  .fuzsection .fuztitle {
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0; }
  .fuzsection .fuzbodywrapper {
    position: relative;
    overflow-y: auto;
    height: 73%; }
    .fuzsection .fuzbodywrapper .fuzbody {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 14px; }
  .fuzsection .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline-block;
    color: #6E297D; }
    .fuzsection .buttons .prev {
      position: relative;
      display: inline-block;
      float: left;
      color: #6E297D;
      width: 90px;
      font-weight: 900; }
    .fuzsection .buttons .next {
      position: relative;
      display: inline-block;
      float: right;
      color: #6E297D;
      width: 90px;
      font-weight: 900; }

.splashbadgesection {
  width: 100%;
  height: calc(100% - 15%);
  position: relative;
  text-align: center;
  vertical-align: middle; }
  .splashbadgesection .splashbadge {
    position: relative;
    width: 118px;
    height: 189px;
    margin: auto auto;
    text-align: -webkit-center;
    top: 50%;
    margin-top: -24%; }
    .splashbadgesection .splashbadge .splashbadgeimage {
      position: relative;
      display: block; }
      .splashbadgesection .splashbadge .splashbadgeimage img {
        width: 112px;
        height: 152px;
        position: relative;
        display: block; }
    .splashbadgesection .splashbadge .splashbadgetext {
      position: absolute;
      width: 100%;
      text-align: center;
      display: none;
      bottom: 0px; }

.swiper-container {
  width: 100%;
  height: calc(100% - 50px);
  background-color: white;
  top: 50px; }
  .swiper-container.splashsection {
    height: 100%;
    top: 0px; }
    .swiper-container.splashsection .splashsectioncolor {
      width: 100%;
      height: 100%;
      background: linear-gradient(269deg, #189F97, #8FC659);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .swiper-container .jobwrap {
    position: relative;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    display: inline-block;
    background-color: #f1f1f1; }
    .swiper-container .jobwrap.even {
      background-color: #e1e1e1; }
    .swiper-container .jobwrap .percentagesect {
      width: 20%;
      position: relative;
      display: inline-block;
      float: left; }
      .swiper-container .jobwrap .percentagesect .small {
        font-size: 10px; }
      .swiper-container .jobwrap .percentagesect .large {
        font-size: 20px; }
      .swiper-container .jobwrap .percentagesect .arrow.start {
        width: 30px;
        height: 10px;
        background: linear-gradient(269deg, #F8B233, #FCEA0D);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
      .swiper-container .jobwrap .percentagesect .arrow.up {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #F8B233;
        position: relative;
        top: 20px;
        left: 6px; }
      .swiper-container .jobwrap .percentagesect .arrow.down {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #F8B233;
        position: relative;
        top: 20px;
        left: 6px; }
    .swiper-container .jobwrap .datesect {
      width: 80%;
      position: relative;
      display: inline-block;
      float: right; }
  .swiper-container .swiper-wrapper .swiper-slide {
    overflow-y: hidden; }
    .swiper-container .swiper-wrapper .swiper-slide .swipedetails {
      position: absolute;
      width: 100%;
      height: 100%; }
    .swiper-container .swiper-wrapper .swiper-slide .aroundsection {
      margin-top: 60px;
      overflow-y: scroll;
      height: calc(100% - 60px); }
      .swiper-container .swiper-wrapper .swiper-slide .aroundsection .circlesectsmall {
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid #F8B233;
        margin: auto;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .swiper-container .swiper-wrapper .swiper-slide .aroundsection .circlesectsmall .innercirlcesmall {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 50px;
          background: linear-gradient(269deg, #FCEA0D, #F8B233);
          background-size: 400% 400%;
          -webkit-animation: AnimationName 30s ease infinite;
          -moz-animation: AnimationName 30s ease infinite;
          animation: AnimationName 30s ease infinite;
          border-radius: 50%;
          margin: auto;
          transition: width 2s, height 2s; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .swiper-container .swiper-wrapper .swiper-slide .smallhead {
      height: 50px;
      position: absolute;
      z-index: 10; }
      .swiper-container .swiper-wrapper .swiper-slide .smallhead .topline {
        top: -5px; }
      .swiper-container .swiper-wrapper .swiper-slide .smallhead .topsection {
        width: 100%;
        font-family: 'futura-pt', sans-serif;
        font-size: 16px;
        color: white;
        text-align: center;
        height: 32px; }
        .swiper-container .swiper-wrapper .swiper-slide .smallhead .topsection .tabs {
          white-space: pre;
          font-family: 'futura-pt', sans-serif;
          font-size: 18px;
          min-width: 74px; }
          .swiper-container .swiper-wrapper .swiper-slide .smallhead .topsection .tabs.tableft {
            display: inline-block;
            font-weight: 100;
            float: left;
            text-align: left; }
          .swiper-container .swiper-wrapper .swiper-slide .smallhead .topsection .tabs.tabtitle {
            font-weight: 800;
            width: 100%;
            position: absolute;
            display: block;
            text-align: center; }
          .swiper-container .swiper-wrapper .swiper-slide .smallhead .topsection .tabs.tabright {
            display: inline-block;
            text-align: right;
            float: right;
            font-weight: 100; }
    .swiper-container .swiper-wrapper .swiper-slide .swipecontentscroll {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-bottom: 100px; }
      .swiper-container .swiper-wrapper .swiper-slide .swipecontentscroll .swipersectcontext {
        position: relative;
        width: 100%;
        overflow-x: hidden; }
    .swiper-container .swiper-wrapper .swiper-slide .extraptop {
      padding-top: 20px;
      margin-bottom: 15px; }

.mindfilter {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background: linear-gradient(269deg, #2f2e87, #1e6bb3);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: white;
  margin-bottom: -10px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .mindfilter p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0px; }

.mindwrapper {
  padding: 10px;
  margin: 10px;
  background-color: #F1F1F1;
  position: relative; }
  .mindwrapper .itemtitle .returntitle {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: calc(100% - 50px);
    display: inline-block; }
  .mindwrapper .buttonwrapper {
    width: 100%; }
    .mindwrapper .buttonwrapper a {
      background: linear-gradient(269deg, #2f2e87, #1e6bb3);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
      color: white;
      display: inline-block;
      position: relative;
      width: 31%;
      text-align: center;
      margin-left: 1px;
      margin-right: 1px;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 30px;
      font-size: 13px;
      font-weight: 400; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
      .mindwrapper .buttonwrapper a.non {
        opacity: 0.4; }
  .mindwrapper .itemaddress {
    font-weight: 100;
    font-size: 14px;
    /* margin-top:35px; */ }
    .mindwrapper .itemaddress .address {
      margin-bottom: 10px; }
      .mindwrapper .itemaddress .address p {
        margin-bottom: 0px; }
  .mindwrapper .itemstatementwrap {
    font-weight: 100;
    font-size: 14px; }
    .mindwrapper .itemstatementwrap .itemstatement.smallgap {
      margin-bottom: 1px;
      margin-top: 15px; }
    .mindwrapper .itemstatementwrap .itemstatement-service {
      margin: 0; }
    .mindwrapper .itemstatementwrap .smallbtm {
      margin-bottom: 5px;
      margin-top: 5px;
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      position: relative;
      display: inline-block;
      width: calc(100% + 20px);
      padding-top: 5px;
      padding-bottom: 5px; }
      .mindwrapper .itemstatementwrap .smallbtm.odd {
        background-color: #e0e0e0; }
      .mindwrapper .itemstatementwrap .smallbtm .leftbox {
        position: relative;
        width: 30%;
        display: inline-block;
        float: left; }
        .mindwrapper .itemstatementwrap .smallbtm .leftbox p {
          font-size: 30px; }
          .mindwrapper .itemstatementwrap .smallbtm .leftbox p.true {
            font-size: 20px; }
        .mindwrapper .itemstatementwrap .smallbtm .leftbox .rating {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin: auto; }
          .mindwrapper .itemstatementwrap .smallbtm .leftbox .rating.outstanding {
            background-image: url(../img/star.svg);
            background-repeat: no-repeat;
            background-size: cover; }
          .mindwrapper .itemstatementwrap .smallbtm .leftbox .rating.good {
            background-color: #458f00; }
          .mindwrapper .itemstatementwrap .smallbtm .leftbox .rating.improvement {
            background-color: #ff9900; }
          .mindwrapper .itemstatementwrap .smallbtm .leftbox .rating.inadequate {
            background-color: #BF1000; }
          .mindwrapper .itemstatementwrap .smallbtm .leftbox .rating.not {
            background-color: #C9C6B9; }
      .mindwrapper .itemstatementwrap .smallbtm .rightbox {
        position: relative;
        width: 69%;
        display: inline-block;
        float: right; }
  .mindwrapper .viewwrapper {
    width: 100%;
    text-align: center; }
    .mindwrapper .viewwrapper .viewbtn {
      width: 40%;
      margin-left: 4%;
      margin-right: 4%;
      display: inline-block;
      position: relative;
      padding: 4px;
      height: 45px;
      margin-top: 20px;
      margin-bottom: 5px;
      background: linear-gradient(269deg, #682382, #e3007e);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
      .mindwrapper .viewwrapper .viewbtn a {
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 37px;
        padding: 0px;
        background-color: white;
        color: #662482;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family: 'futura-pt', sans-serif;
        line-height: 37px; }

.voljobwrapper {
  padding: 10px;
  margin: 10px;
  background-color: #F1F1F1; }
  .voljobwrapper .itemtitle .returntitle {
    font-size: 16px;
    font-weight: 500; }
  .voljobwrapper .itemtext .returntext {
    font-size: 16px;
    font-weight: 100; }
  .voljobwrapper .itemtext .datetext {
    font-size: 16px;
    font-weight: 100; }
  .voljobwrapper .buttonwrapper {
    width: 100%; }
    .voljobwrapper .buttonwrapper a {
      background: linear-gradient(269deg, #2f2e87, #1e6bb3);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
      color: white;
      display: inline-block;
      position: relative;
      width: 31%;
      text-align: center;
      margin-left: 1px;
      margin-right: 1px;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 30px;
      font-size: 13px;
      font-weight: 400; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .voljobwrapper .itemaddress, .voljobwrapper .itemstatementwrap {
    font-weight: 100;
    font-size: 14px; }
    .voljobwrapper .itemaddress .address, .voljobwrapper .itemstatementwrap .address {
      margin-bottom: 5px; }
  .voljobwrapper .viewwrapper {
    width: 100%;
    text-align: center; }
    .voljobwrapper .viewwrapper .viewbtn {
      width: 40%;
      margin-left: 4%;
      margin-right: 4%;
      display: inline-block;
      position: relative;
      padding: 4px;
      height: 38px;
      margin-top: 20px;
      margin-bottom: 5px;
      background: linear-gradient(269deg, #682382, #e3007e);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
      .voljobwrapper .viewwrapper .viewbtn a {
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 30px;
        padding: 0px;
        background-color: white;
        color: #662482;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family: 'futura-pt', sans-serif;
        line-height: 24px; }
      .voljobwrapper .viewwrapper .viewbtn button {
        position: absolute;
        width: calc( 100% - 10px );
        left: 5px;
        height: 27px;
        padding: 0px;
        background-color: white;
        color: #662482;
        text-align: center;
        font-size: 20px;
        border: none;
        font-family: 'futura-pt', sans-serif;
        line-height: 24px; }

.viewwrapper {
  width: 100%;
  text-align: center; }
  .viewwrapper .viewbtn {
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-block;
    position: relative;
    padding: 4px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
    background: linear-gradient(269deg, #682382, #e3007e);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .viewwrapper .viewbtn.backtowork {
      background: linear-gradient(269deg, #682382, #e3007e);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .viewwrapper .viewbtn.support {
      background: linear-gradient(269deg, #2f2e87, #1e6bb3);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .viewwrapper .viewbtn button {
      position: absolute;
      width: calc( 100% - 10px );
      left: 5px;
      height: 27px;
      padding: 0px;
      text-align: center;
      font-size: 20px;
      border: none;
      font-family: 'futura-pt', sans-serif;
      line-height: 24px; }
      .viewwrapper .viewbtn button.backtowork {
        background-color: white;
        color: #662482; }
      .viewwrapper .viewbtn button.support {
        background-color: white;
        color: #2f2e87; }

input[type="button"] {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: buttontext;
  padding: 2px 6px 3px;
  border: 2px outset buttonface;
  -webkit-appearance: none;
  border-radius: 0;
  background-color: buttonface;
  box-sizing: border-box; }

.locationedit {
  display: none;
  width: 100%;
  height: 155px;
  background-color: white;
  z-index: 1001;
  top: -12px;
  position: relative; }
  .locationedit .iconbox {
    display: inline-block;
    height: 40px;
    width: 40px;
    right: 0;
    position: absolute;
    top: 20px;
    cursor: pointer; }
    .locationedit .iconbox.support {
      background: linear-gradient(269deg, #2f2e87, #1e6bb3);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .locationedit .iconbox.backtowork {
      background: linear-gradient(269deg, #e3007e, #682382);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .locationedit .iconbox.details {
      background: linear-gradient(269deg, #f19000, #be1821);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .locationedit .iconbox.ourdata {
      background: linear-gradient(269deg, #06a295, #f7e910);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .locationedit .iconbox .locationicon_box {
      position: relative;
      width: 80%;
      left: 10%;
      top: 10%; }
  .locationedit .searchsect {
    display: inline-block;
    position: relative; }
    .locationedit .searchsect input {
      width: 90%;
      margin-top: 15px;
      border: 0px;
      border-bottom: 1px solid #2d2e82;
      padding-bottom: 5px;
      padding-left: 10px;
      color: #2d2e82;
      font-size: 16px !important;
      -webkit-appearance: none;
      border-radius: 0; }
      .locationedit .searchsect input:focus {
        outline: 0; }
      .locationedit .searchsect input.doitwork {
        border-bottom: 1px solid #E61B72;
        color: #E61B72; }
    .locationedit .searchsect select {
      width: 90%;
      margin-top: 15px;
      border: 0px;
      border-bottom: 1px solid #2d2e82;
      padding-bottom: 5px;
      padding-left: 6px;
      color: #2d2e82;
      font-size: 16px !important;
      background-color: white;
      background-image: url("../img/buttons/down.svg");
      background-repeat: no-repeat;
      -webkit-appearance: none;
      background-position: 97% 7px; }
      .locationedit .searchsect select:focus {
        outline: 0; }
      .locationedit .searchsect select.doitwork {
        border-bottom: 1px solid #E61B72;
        color: #E61B72; }
    .locationedit .searchsect ::-webkit-input-placeholder {
      color: #2d2e82; }
    .locationedit .searchsect :-moz-placeholder {
      /* Firefox 18- */
      color: #2d2e82; }
    .locationedit .searchsect ::-moz-placeholder {
      /* Firefox 19+ */
      color: #2d2e82; }
    .locationedit .searchsect :-ms-input-placeholder {
      color: #2d2e82; }

.createprof {
  width: 65%;
  margin-top: 15px;
  border: 0px;
  background: None;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  padding-left: 10px;
  color: white;
  font-size: 16px !important; }

.scrolltabhead {
  position: relative;
  display: inline-block;
  height: 22px;
  /*width: 900px;*/
  padding-top: 5px; }
  .scrolltabhead li {
    display: inline-block;
    float: left;
    width: 240px;
    height: 25px;
    text-align: center;
    position: relative; }
    .scrolltabhead li.minispacer {
      width: 50px !important; }
    .scrolltabhead li a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 18px; }
      .scrolltabhead li a.active {
        color: white;
        text-decoration: none; }
      .scrolltabhead li a:focus {
        color: white;
        text-decoration: none; }
      .scrolltabhead li a:hover {
        color: white;
        text-decoration: none; }
    .scrolltabhead li.active a {
      color: white;
      text-decoration: none; }

.legpannel {
  padding: 10px; }

.innertabsection {
  background-color: #F1F1F1;
  padding: 15px 10px 10px 10px;
  margin-top: 50px; }
  .innertabsection h2 {
    margin-top: 0px; }
  .innertabsection .tabtext pre {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    display: block;
    padding: 0px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    color: #000000;
    word-break: break-all;
    word-wrap: break-word;
    background: None;
    border: None;
    border-radius: 0px; }

.mailreg {
  background: linear-gradient(269deg, #06a295, #f7e910);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  position: relative;
  padding: 4px;
  height: 59px;
  margin-top: 20px;
  margin-bottom: 5px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .mailreg input {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: white;
    color: green;
    text-align: center;
    font-size: 15px;
    border: none;
    -webkit-appearance: none;
    border-radius: 0; }
    .mailreg input:focus {
      outline: 0; }

.signinreg {
  width: 80%;
  margin-left: 10%;
  position: relative;
  padding: 4px;
  height: 59px;
  margin-top: 20px;
  margin-bottom: 5px;
  background: linear-gradient(269deg, #be1821, #f19000);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .signinreg input {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: white;
    color: #E84E1B;
    text-align: center;
    font-size: 15px;
    border: none;
    -webkit-appearance: none;
    border-radius: 0; }
    .signinreg input:focus {
      outline: 0; }

.signinwap {
  width: 100%;
  text-align: center;
  margin-top: 30px; }
  .signinwap .signinbutton {
    background: linear-gradient(269deg, #be1821, #f19000);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    border: 0;
    font-size: 15px;
    width: 150px;
    height: 35px;
    color: white;
    font-family: 'futura-pt', sans-serif;
    font-size: 20px; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .signinwap .signinbutton:focus {
      outline: 0; }

.registerbtn {
  width: 80%;
  margin-left: 10%;
  position: relative;
  padding: 4px;
  height: 59px;
  margin-top: 20px;
  margin-bottom: 5px;
  background: linear-gradient(269deg, #be1821, #f19000);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
  .registerbtn button {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0px;
    background-color: white;
    color: #E84E1B;
    text-align: center;
    font-size: 20px;
    border: none;
    font-family: 'futura-pt', sans-serif; }

.name {
  text-transform: capitalize; }

.firstcircle_wrap {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: -webkit-center; }
  .firstcircle_wrap .circlesect {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #F8B233;
    margin: auto;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .firstcircle_wrap .circlesect.small {
      width: 100px;
      height: 100px; }
    .firstcircle_wrap .circlesect .innercirlce {
      position: relative;
      display: inline-block;
      width: 250px;
      height: 250px;
      background: linear-gradient(269deg, #FCEA0D, #F8B233);
      background-size: 400% 400%;
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
      border-radius: 50%;
      margin: auto;
      transition: width 2s, height 2s; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
.localwrap {
  padding: 10px;
  margin: 10px;
  background-color: #F1F1F1; }
  .localwrap .regwrap {
    width: 100%;
    text-align: -webkit-center; }
  .localwrap .registerbtn {
    width: 279px;
    margin-left: 0;
    position: relative;
    padding: 4px;
    height: 74px;
    margin-top: 20px;
    margin-bottom: 5px;
    background: linear-gradient(269deg, #FCEA0D, #F8B233);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .localwrap .registerbtn button {
      position: relative;
      width: 100%;
      height: 65px;
      padding: 0px;
      background-color: white;
      color: #F8B233;
      text-align: center;
      font-size: 20px;
      border: none;
      font-family: 'futura-pt', sans-serif; }

.mailregwrap {
  width: 100%;
  text-align: center;
  margin-top: 30px; }
  .mailregwrap .mailregbutn {
    background: linear-gradient(269deg, #06a295, #f7e910);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    border: 0;
    font-size: 15px;
    width: 150px;
    height: 35px;
    color: white; }
@-webkit-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@-moz-keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
@keyframes AnimationName {
  0% {
    background-position: 15% 0%; }
  50% {
    background-position: 86% 100%; }
  100% {
    background-position: 15% 0%; } }
    .mailregwrap .mailregbutn:focus {
      outline: 0; }

@media only screen and (min-width: 480px) and (max-width: 600px) {
  .buttonsection {
    width: 100%;
    height: 203px;
    display: inline-block; } }
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .buttonsection {
    width: 100%;
    height: 307px;
    display: inline-block; } }
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .buttonsection {
    width: 49%;
    height: 201px;
    display: inline-block; } }
@media only screen and (min-width: 991px) {
  .buttonsection {
    width: 480px;
    height: 201px;
    display: inline-block; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .buttonsection {
    width: 510px;
    height: 207px;
    display: inline-block; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .buttonsection {
    width: 382px;
    height: 154px;
    display: inline-block; } }
@media only screen and (min-width: 1024px) {
  .btnsection-wrapper {
    width: 100%; }
    .btnsection-wrapper .btnsection {
      width: 964px;
      position: relative;
      text-align: left;
      margin: auto; } }
.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.animate-if.ng-enter {
  max-height: 0;
  opacity: 0; }

.animate-if.ng-enter.ng-enter-active {
  max-height: 999px;
  opacity: 1; }

.animate-if.ng-leave {
  max-height: 999px;
  opacity: 1; }

.animate-if.ng-leave.ng-leave-active {
  max-height: 0;
  opacity: 1; }

.mobileShow {
  display: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileShow {
    display: inline; } }

/*# sourceMappingURL=main.css.map */
