<div class="screensection {$ class $}" ng-init="start()">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()" ng-show="!update"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <div style="cursor:pointer" ng-click="goBack()" ng-show="update"><img src="/static/img/buttons/back.svg" class="backbtn"></div>
            <h2 class="sectiontitle" ng-class="{true: '', false:'noarrow'}[update]">{$ title $}</h2>
        </div>
    </div>
    <div searchsect class="searchwrapper" ng-class="{true: 'up', false:''}[update]"></div>
</div>

