<div class="screensection {$ class $}" ng-controller="VoluntTabCtrl" ng-init="checklocation()">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <h2 class="sectiontitle noarrow">{$ title $}</h2>
        </div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div id="volunteering" ng-controller="VoluntListCtrl" data-index="0" ng-show="showMapSwip == true">
                    <div ng-include="'/static/templates/backtowork/sweep/volunteering.html'"></div>
                </div>
                <div id="volunteering" ng-controller="VoluntCtrl" data-index="0" ng-show="showMapSwip == false">
                    <div ng-include="'/static/templates/backtowork/sweep/search.html'"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div id="new_work" ng-controller="NewWorkCtrl" data-index="1" ng-show="showMapSwip == true">
                    <div ng-include="'/static/templates/backtowork/sweep/jobs.html'"></div>
                </div>
                <div id="new_work" ng-controller="VoluntCtrl" data-index="1" ng-show="showMapSwip == false">
                    <div ng-include="'/static/templates/backtowork/sweep/search.html'"></div>
                </div>
            </div>
            <div class="swiper-slide"  data-ng-repeat="item in glist">
                <div id="{$ item.slug $}" ng-controller="ReturnCtrl" ng-init="sect(item, $index)" data-index="{$ $index + 2 $}">
                    <div ng-include="'/static/templates/backtowork/sweep/sellectdata.html'"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var myTabSwiper;
        try{
            setTimeout(function(){
                var item = window.location.hash.substr(1);
                item = item.substr(item.indexOf('#') + 1);
                var inde = $('#'+item).attr('data-index');
                myTabSwiper = new Swiper('.swiper-container', {
                    speed: 400,
                    spaceBetween: 0,
                    initialSlide:inde
                });
            },500);
        }catch(err){
            setTimeout(function(){
                myTabSwiper = new Swiper('.swiper-container', {
                    speed: 400,
                    spaceBetween: 0
                });
            },500);
        }


    });




</script>
