<div class="screensection {$ class $}">
    <div class="row headersection">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()" ng-show="!update"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <div style="cursor:pointer" ng-click="goBack()" ng-show="update"><img src="/static/img/buttons/back.svg" class="backbtn"></div>
            <h2 class="sectiontitle" ng-class="{true: '', false:'noarrow'}[update]">{$ title $}</h2>
        </div>
    </div>
    <div class="searchwrapper top" >
        <div class="row centersection errorsection">
            <div class="col-md-12 col-sm-12 ">
                <p class="errotext">There was a problem in getting the data for this region. Please try again, this time select a region from the drop down menu.</p>
            </div>
        </div>
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchlocation" ng-click="useloc()">
                <img class="locationicon" src="/static/img/buttons/location.svg"/>
                <p class="locationtext " ng-click="useloc()">use my location</p>
            </div>
        </div>
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchinput">
                <input type="text" ng-model="postcode" placeholder="enter my postcode" ng-enter="postcodeenter()" ng-change="postcodechange()">
            </div>
        </div>
        <div class="row centersection">
            <div class="col-md-12 col-sm-12 searchinput dropdowninput">
                <!--<input type="text" ng-model="distance" placeholder="searchable distance" ng-enter="distancechange()">-->
                <select ng-model="distance" ng-change="distancechange()">
                    <option value="" disabled selected>Select a region</option>
                    <option value=" {$ item.slug $}" ng-repeat="item in loauth | orderBy:'name' ">{$ item.name $}</option>
                </select>
            </div>
        </div>

        <div class="row centersection" ng-show="update">
            <div class="col-md-12 col-sm-12 searchinput">
                <div class="viewbtn {$ class $}">
                    <button id='updatebtnwork' class="{$ class $}" ng-click="updatebtn()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
