<div class="screensection {$ class $}">
    <div class="row headersection {$ class $}">
        <div class="menu">
            <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
        </div>
        <div class="title">
            <h2 class="sectiontitle noarrow">{$ title $}</h2>
        </div>
        <div class="topline"></div>
        <div class="topsection">
            <div class="locwrap">
                <p class="currentloc">current: <span class="name">{$ data.name $}</span></p>
            </div>

            <div class="buttonwrap">
                <div class="locwrapper" id="newloc" ng-click="updateloc()">
                    <img class="locationicon_small" src="/static/img/buttons/location.svg" />
                    <img class="edit_small" src="/static/img/buttons/edit.svg"/>
                </div>
                <div class="exitwrapper" id="newexit">
                    <img class="edit_small" src="/static/img/buttons/cross.svg"/>
                </div>
            </div>
        </div>
    </div>
    <div class="contentwrapper white around">
        <div class="localwrap">
            <p class="itemtext">Your Local Authority <span class="name">{$ data.name $}</span> has {$ infirst.value $} people currently in work due to Mental Health related issues, who have been able to works in the past 12 months. The equates to {$ infirst.percentage $}% of the population in this Local Authority with {$ infirst.localaurtheffect $} affected by Mental Health in this Authority.</p>
            <div class="firstcircle_wrap">
                <div class="circlesect">
                    <div class="innercirlce" style="width:{$ infirstnum $}px; height:{$ infirstnum $}px;"></div>
                </div>
            </div>
            <p class="itemtext">Your Local Authority <span class="name">{$ data.name $}</span> has {$ unfirst.value $} people currently not able to work due to Mental Health related issues, who have been unable to works in the past 12 months. The equates to {$ unfirst.percentage $}% of the population in this Local Authority with {$ unfirst.localaurtheffect $} affected by Mental Health in this Authority.</p>
            <div class="firstcircle_wrap">
                <div class="circlesect">
                    <div class="innercirlce" style="width:{$ unfirstnum $}px; height:{$ unfirstnum $}px;"></div>
                </div>
            </div>
            <div class="regwrap">
                <div class="registerbtn">
                    <button ng-click="gotoserver()">discover support services in your local area</button>
                </div>
            </div>

            <div class="disallow">
                <div class="dates" data-ng-repeat="total in data.disabilityliving.total">
                    <p>{$ total.date $}</p>
                    <p> {$ total.value $}</p>
                </div>

            </div>

        </div>

        <div data-ng-repeat="sub in regiondata">
            <div class="btwwrapper">
                <a href='aroundyou/result#{$ sub.slug $}' data-toggle="collapse" class="subwrapper">
                    <div class="itemstatementwrap" >
                        <p class="itemstatement" ng-bind-html="sub.name"></p>
                        <i class="expandbtn fade in pos"></i>
                    </div>
                </a>
                <div id='{$ sub.slug $}' class="itemstatementwrap itemstatement panel-collapse collapse">
                    <p class="itemtext">{$ sub.first.value $} people currently not in work for less than 12 months in the UK. {$ sub.first.percentagetotal $}% of the UK's total number.</p>
                    <div class="firstcircle_wrap">
                        <div class="circlesect">
                            <div class="innercirlce" style="width:{$ sub.first.percentagenum $}px; height:{$ sub.first.percentagenum $}px;"></div>
                        </div>
                    </div>
                    <p class="itemtext">{$ sub.second.value $} people currently not in work for less than 12 months in the UK. {$ sub.second.percentagetotal $}% of the UK's total number.</p>
                    <div class="firstcircle_wrap">
                        <div class="circlesect">
                            <div class="innercirlce" style="width:{$ sub.second.percentagenum $}px; height:{$ sub.second.percentagenum $}px;"></div>
                        </div>
                    </div>
                </div>

            </div>
            <script>
                $('.collapse').on('shown.bs.collapse', function(res){
                    $(res.currentTarget).parent().find("i").removeClass("pos").addClass("neg");
                }).on('hidden.bs.collapse', function(res){
                    $(res.currentTarget).parent().find("i").removeClass("neg").addClass("pos");
                });
            </script>
        </div>

    </div>
</div>

