<div>
    <div class="screensection {$ class $}">
        <div class="row headersection ">
            <div class="menu">
                <div style="cursor:pointer" ng-click="tomenu()"><img src="/static/img/menu.svg" class="menuitem"></div>
            </div>
            <div class="title">
                <h2 class="sectiontitle noarrow">{$ title $}</h2>
            </div>
            <div class="topline"></div>
                    </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div id="mentalhealth" data-index="0" class="swipedetails">
                        <div class="row headersection {$ class $} smallhead">
                            <div class="topline"></div>
                            <div class="topsection">
                                <p class="tabs tableft"></p>
                                <p class="tabs tabtitle">Mental Health</p>
                                <p class="tabs tabright">Disabi </p>
                            </div>
                        </div>
                        <div class="aroundsection">
                            <div class="localwrap">
                                <p class="itemtext">Your Local Authority <span class="name">{$ data.name $}</span> has {$ infirst.value $} people currently in work with diagnosed Mental Health conditions for the past 12 months. This equates to {$ infirst.percentage $}% of the population in <span class="name">{$ data.name $}</span>. {$ infirst.localaurtheffect $} is the total number of people affected by Mental Health conditions in this Authority. This number also includes individuals who are not engaged in the labour market such as students, the retired and terminally ill.</p>
                                <div class="firstcircle_wrap">
                                    <div class="circlesect">
                                        <div class="innercirlce" style="width:{$ infirstnum $}px; height:{$ infirstnum $}px;"></div>
                                    </div>
                                </div>
                                <p class="itemtext">Your Local Authority <span class="name">{$ data.name $}</span> has {$ unfirst.value $} people currently not able to work due to Mental Health conditions for the past 12 months. The equates to {$ unfirst.percentage $}% of the population in <span class="name">{$ data.name $}</span>. {$ unfirst.localaurtheffect $} is the total number of people affected by Mental Health conditions in this Authority. This number also includes individuals who are not engaged in the labour market such as students, the retired and terminally ill.</p>
                                <div class="firstcircle_wrap">
                                    <div class="circlesect">
                                        <div class="innercirlce" style="width:{$ unfirstnum $}px; height:{$ unfirstnum $}px;"></div>
                                    </div>
                                </div>
                                <div class="regwrap">
                                    <div class="registerbtn">
                                        <button ng-click="gotoserver()">discover support services in your local area</button>
                                    </div>
                                </div>

                            </div>

                            <div data-ng-repeat="sub in regiondata">
                                <div class="btwwrapper">
                                    <a href='aroundyou/result#{$ sub.slug $}' data-toggle="collapse" class="subwrapper">
                                        <div class="itemstatementwrap" >
                                            <p class="itemstatement" ng-bind-html="sub.name"></p>
                                            <i class="expandbtn fade in pos"></i>
                                        </div>
                                    </a>
                                    <div id='{$ sub.slug $}' class="itemstatementwrap itemstatement panel-collapse collapse">
                                        <p class="itemtext">{$ sub.first.value $} people currently not in work for less than 12 months in the UK. {$ sub.first.percentagetotal $}% of the UK's total number.</p>
                                        <div class="firstcircle_wrap">
                                            <div class="circlesect">
                                                <div class="innercirlce" style="width:{$ sub.first.percentagenum $}px; height:{$ sub.first.percentagenum $}px;"></div>
                                            </div>
                                        </div>
                                        <p class="itemtext">{$ sub.second.value $} people currently not in work for less than 12 months in the UK. {$ sub.second.percentagetotal $}% of the UK's total number.</p>
                                        <div class="firstcircle_wrap">
                                            <div class="circlesect">
                                                <div class="innercirlce" style="width:{$ sub.second.percentagenum $}px; height:{$ sub.second.percentagenum $}px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    $('.collapse').on('shown.bs.collapse', function(res){
                                        $(res.currentTarget).parent().find("i").removeClass("pos").addClass("neg");
                                    }).on('hidden.bs.collapse', function(res){
                                        $(res.currentTarget).parent().find("i").removeClass("neg").addClass("pos");
                                    });
                                </script>
                            </div>
                            <div class="footersection">
                                <div class="locwrap">
                                    <p class="currentloc">current: <span class="name">{$ data.name $}</span></p>
                                </div>

                                <div class="buttonwrap">
                                    <div class="locwrapper" id="newloc" ng-click="updateloc()">
                                        <img class="edit_small" src="/static/img/buttons/edit.svg"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div id="disableallowance" data-index="1" class="swipedetails">
                        <div class="row headersection {$ class $} smallhead">
                            <div class="topline"></div>
                            <div class="topsection">
                                <p class="tabs tableft">ealth</p>
                                <p class="tabs tabtitle">Disability Living Allowance</p>
                                <p class="tabs tabright">Job </p>
                            </div>
                        </div>
                        <div class="aroundsection">
                            <div class="localwrap">
                                <p class="itemtext">Your Local Authority <span class="name">{$ data.name $}</span> has {$ disablefirst.value $} people currently receiving Disability Living Allowance. This is equates to {$ disablefirst.percetange $}% of the population in <span class="name">{$ data.name $}</span>.
                                </p>
                                <div class="firstcircle_wrap">
                                    <div class="circlesect">
                                        <div class="innercirlce" style="width:{$ disablefirstcir $}px; height:{$ disablefirstcir $}px;"></div>
                                    </div>
                                </div>

                            </div>
                                <div class="btwwrapper">
                                    <a href='aroundyou/result#total' data-toggle="collapse" class="subwrapper">
                                        <div class="itemstatementwrap" >
                                            <p class="itemstatement">Total</p>
                                            <i class="expandbtn fade in pos"></i>
                                        </div>
                                    </a>
                                    <div id='total' class="itemstatementwrap itemstatement panel-collapse collapse">
                                        <div data-ng-repeat="sub in disable" class="jobwrap" ng-class="{even: $even, odd: $odd}">
                                            <div class="percentagesect">
                                                <p class="large">{$ sub.percetange $}%</p>
                                                <p class="small">of the population.</p>
                                            </div>
                                            <div class="datesect">
                                                <p>At this date {$ sub.date $} the total of indivduals receiving Disability Living Allowance was {$ sub.value $}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btwwrapper">
                                    <a href='aroundyou/result#learning' data-toggle="collapse" class="subwrapper">
                                        <div class="itemstatementwrap" >
                                            <p class="itemstatement">Learning Difficulties</p>
                                            <i class="expandbtn fade in pos"></i>
                                        </div>
                                    </a>
                                    <div id='learning' class="itemstatementwrap itemstatement panel-collapse collapse">
                                        <div data-ng-repeat="sub in dislearning" class="jobwrap" ng-class="{even: $even, odd: $odd}">
                                            <div class="percentagesect">
                                                <p class="large">{$ sub.percetange $}%</p>
                                                <p class="small">of the population.</p>
                                            </div>
                                            <div class="datesect">
                                                <p>At this date {$ sub.date $} the total of indivduals receiving Disability Living Allowance with Learning Difficulties was {$ sub.value $}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btwwrapper">
                                    <a href='aroundyou/result#disbehav' data-toggle="collapse" class="subwrapper">
                                        <div class="itemstatementwrap" >
                                            <p class="itemstatement">Behavioural Disorder</p>
                                            <i class="expandbtn fade in pos"></i>
                                        </div>
                                    </a>
                                    <div id='disbehav' class="itemstatementwrap itemstatement panel-collapse collapse">
                                        <div data-ng-repeat="sub in disbehav" class="jobwrap" ng-class="{even: $even, odd: $odd}">
                                            <div class="percentagesect">
                                                <p class="large">{$ sub.percetange $}%</p>
                                                <p class="small">of the population.</p>
                                            </div>
                                            <div class="datesect">
                                                <p>At this date {$ sub.date $} the total of indivduals receiving Disability Living Allowance with Behavioural Disorder was {$ sub.value $}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btwwrapper">
                                    <a href='aroundyou/result#dispersonal' data-toggle="collapse" class="subwrapper">
                                        <div class="itemstatementwrap" >
                                            <p class="itemstatement">Personality Disorder</p>
                                            <i class="expandbtn fade in pos"></i>
                                        </div>
                                    </a>
                                    <div id='dispersonal' class="itemstatementwrap itemstatement panel-collapse collapse">
                                        <div data-ng-repeat="sub in dispersonal" class="jobwrap" ng-class="{even: $even, odd: $odd}">
                                            <div class="percentagesect">
                                                <p class="large">{$ sub.percetange $}%</p>
                                                <p class="small">of the population.</p>
                                            </div>
                                            <div class="datesect">
                                                <p>At this date {$ sub.date $} the total of indivduals receiving Disability Living Allowance with Personality Disorder was {$ sub.value $}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btwwrapper">
                                    <a href='aroundyou/result#dispsych' data-toggle="collapse" class="subwrapper">
                                        <div class="itemstatementwrap" >
                                            <p class="itemstatement">Psychoneurosis</p>
                                            <i class="expandbtn fade in pos"></i>
                                        </div>
                                    </a>
                                    <div id='dispsych' class="itemstatementwrap itemstatement panel-collapse collapse">
                                        <div data-ng-repeat="sub in dispsych" class="jobwrap" ng-class="{even: $even, odd: $odd}">
                                            <div class="percentagesect">
                                                <p class="large">{$ sub.percetange $}%</p>
                                                <p class="small">of the population.</p>
                                            </div>
                                            <div class="datesect">
                                                <p>At this date {$ sub.date $} the total of indivduals receiving Disability Living Allowance with Psychoneurosis was {$ sub.value $}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btwwrapper">
                                    <a href='aroundyou/result#dissever' data-toggle="collapse" class="subwrapper">
                                        <div class="itemstatementwrap" >
                                            <p class="itemstatement">Severely Mentally Impaired</p>
                                            <i class="expandbtn fade in pos"></i>
                                        </div>
                                    </a>
                                    <div id='dissever' class="itemstatementwrap itemstatement panel-collapse collapse">
                                        <div data-ng-repeat="sub in dissever" class="jobwrap" ng-class="{even: $even, odd: $odd}">
                                            <div class="percentagesect">
                                                <p class="large">{$ sub.percetange $}%</p>
                                                <p class="small">of the population.</p>
                                            </div>
                                            <div class="datesect">
                                                <p>At this date {$ sub.date $} the total of indivduals receiving Disability Living Allowance with Severely Mentally Impaired was {$ sub.value $}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="footersection">
                                <div class="locwrap">
                                    <p class="currentloc">current: <span class="name">{$ data.name $}</span></p>
                                </div>

                                <div class="buttonwrap">
                                    <div class="locwrapper" id="newloc" ng-click="updateloc()">
                                        <img class="edit_small" src="/static/img/buttons/edit.svg"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide">
                    <div id="jobseeking" data-index="2" class="swipedetails">
                        <div class="row headersection {$ class $} smallhead">
                            <div class="topline"></div>
                            <div class="topsection">
                                <p class="tabs tableft">bility</p>
                                <p class="tabs tabtitle">Job Seeking</p>
                                <p class="tabs tabright"></p>
                            </div>
                        </div>
                        <div class="aroundsection">

                            <div class="localwrap">
                                <p class="itemtext">Your Local Authority <span class="name">{$ data.name $}</span> has {$ jobfirst.value $} people currently seeking Job Seekers Allowance. This is equates to {$ jobfirst.percentage $}% of the population in <span class="name">{$ data.name $}</span>.</p>
                                <div class="firstcircle_wrap">
                                    <div class="circlesect">
                                        <div class="innercirlce" style="width:{$ jobfirstcir $}px; height:{$ jobfirstcir $}px;"></div>
                                    </div>
                                </div>


                                <div data-ng-repeat="sub in pastjobs" class="jobwrap" ng-class="{even: $even, odd: $odd}">
                                    <div class="percentagesect">
                                         <div class="arrow {$ sub.change $}"></div>
                                    </div>
                                    <div class="datesect">
                                        <p>At this date {$ sub.date $} the total of indivduals seeking Job Seekings Allowance was {$ sub.value $}, {$ sub.percentage $}% of the population.</p>
                                    </div>
                                </div>

                                <div class="regwrap">
                                    <div class="registerbtn">
                                        <button ng-click="gotocv()">discover how you can improve your situation</button>
                                    </div>
                                </div>
                            </div>

                        <div class="footersection">
                            <div class="locwrap">
                                <p class="currentloc">current: <span class="name">{$ data.name $}</span></p>
                            </div>

                            <div class="buttonwrap">
                                <div class="locwrapper" id="newloc" ng-click="updateloc()">
                                    <img class="edit_small" src="/static/img/buttons/edit.svg"/>
                                </div>
                            </div>
                        </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            try{

                var item = window.location.hash.substr(1);
                item = item.substr(item.indexOf('#') + 1);
                var inde = $('#'+item).attr('data-index');
                var detailswip = new Swiper('.swiper-container', {
                    speed: 400,
                    spaceBetween: 0,
                    initialSlide:inde
                });

            }catch(err){
                var detailswip = new Swiper('.swiper-container', {
                    speed: 400,
                    spaceBetween: 0
                });

            }
        });

    </script>
</div>
